<footer>
    <div id="contact" class="container cd-section">
        <h2>Get In Touch!</h2>

        <div class="email">
            <a href="mailto:pavithraram.8@gmail.com">pavithraram.8@gmail.com</a>
        </div>

        <div class="social-icons">
            <a href="https://www.behance.net/Blottere" target="/blank" class="icon behance">@@include('icons/social-be.svg')</a>
            <a href="https://www.facebook.com/Blottere" target="/blank" class="icon facebook">@@include('icons/social-fb.svg')</a>
            <a href="https://in.linkedin.com/in/pavithraram" target="/blank" class="icon linkedIn">@@include('icons/social-li.svg')</a>
        </div>

        <div class="copyright"> 2016 &copy; <strong>Pavithra Ramamurthy</strong> <br><br></div>
        <div class="mycode">
            Designed and coded one pixel at a time by <strong>me</strong>!
        </div>
    </div>
</footer>
