<footer>
    <div id="contact" class="container cd-section">
        <h2>Get In Touch!</h2>

        <div class="email">
            <a href="mailto:pavithraram.8@gmail.com">pavithraram.8@gmail.com</a>
        </div>
            <div id="contactchunk">

                <div class="social-icons">
                    <div style="width:200px; margin:0 auto; padding-top:25px; padding-bottom:25px;">
                        <table width="200" height="30">
                            <tr>
                                <td width="35" height="35"><a href="https://www.behance.net/Blottere" target="/blank" class="behance">Behance<span></span></a></td>
                                <td width="35" height="35"><a href="https://www.facebook.com/Blottere" target="/blank" class="facebook">Facebook<span></span></a></td>
                                <td width="35" height="35"><a href="https://in.linkedin.com/in/pavithraram" target="/blank" class="linkedin">Linkedin<span></span></a></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        <div id="copywrite">
            <p class="text-center">&copy; 2015 <strong>Pavithra Ramamurthy</strong></p>
        </div>
    </div>
</footer>
