<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

<meta name="Keywords" content="Pavithra Ramamurthy  UX designer portfolio interaction design IxD web design">
<meta name="description" content="I'm a UX Designer, Illustrator and Front-End Developer. I design and build usable web based platforms for several companies based on their intrinsic requirements, while focusing on achieving a fluid, minimalistic and stylish user experience for the product.">
<meta name="title" content="Pavithra Ramamurthy || UI/UX Design Portfolio">

<!-- ROBOTS -->
<meta name="googlebot" content="index, follow">
<meta name="robots" content="index, follow">

<!-- SOCIAL METAS -->
<meta property="og:description" content="I'm a UX Designer, Illustrator and Front-End Developer. I design and build usable web based platforms for several companies based on their intrinsic requirements, while focusing on achieving a fluid, minimalistic and stylish user experience for the product.">
<meta property="og:image" content="/">
<!-- CHANGE IMAGE PATH HERE -->
<meta property="og:site_name" content="Pavithra Ramamurthy || UI/UX Portfolio">
<meta property="og:title" content="Pavithra Ramamurthy || UI/UX Portfolio">
<meta property="og:type" content="website">
<meta property="og:url" content="http://www.pavithraram.com">

<meta name="twitter:card" content="summary">
<meta name="twitter:url" content="http://www.pavithraram.com">
<meta name="twitter:title" content="Pavithra Ramamurthy || UI/UX Portfolio">
<meta name="twitter:description" content="I'm a UX Designer, Illustrator and Front-End Developer. I design and build usable web based platforms for several companies based on their intrinsic requirements, while focusing on achieving a fluid, minimalistic and stylish user experience for the product.">
<meta name="twitter:image" content="/">
<!-- CHANGE IMAGE PATH HERE -->

<meta name="url" content="http://www.pavithraram.com">


<!-- FAVICON -->
<link rel="SHORTCUT ICON" href="images/Logo1.ico" type="image/x-icon" />
<link rel="ICON" href="images/Logo1.ico" type="image/ico" />
