<div class="project-footer">
    <div class="container">
        <div class="footer-proj-nav">

            <a class="proj-nav" href="@@prev.link">
                <div class="proj-prev">
                    <div class="project-image" style='background:url("@@prev.image"); background-size: cover; background-position:center; '> </div>
                    <div class="proj-title">@@prev.title</div>
                </div>
            </a>

            <div class="proj-gap">
                <!-- <img class="hidden-phone" src="images/me.png" alt=""> -->
            </div>

            <a class="proj-nav" href="@@next.link">
                <div class="proj-next">
                    <div class="project-image" style='background:url("@@next.image"); background-size: cover; background-position:center; '> </div>
                    <div class="proj-title">@@next.title</div>
                </div>
            </a>
        </div>

        <div class="footer-sec-nav">

            <a href="/" class="icon home">@@include('icons/ic-home.svg')</a>

            <a href="/" class="icon gallery">@@include('icons/ic-gallery.svg')</a>

            <a href="asset/resume.pdf" class="icon resume">@@include('icons/ic-resume.svg')</a>
        </div>
    </div>
</div>
