<!DOCTYPE html>
<html lang="en">

<head>
    @@include('templates/partials/home_metadata.html')
    <title>Pavithra Ramamurthy | About Me</title>
    <link rel="stylesheet" href="styles/project.css">

    <!--browser tab-->
    <link rel="SHORTCUT ICON" href="images/Logo1.ico" type="image/x-icon" />
    <link rel="ICON" href="images/Logo1.ico" type="image/ico" />
</head>

<body>
    <div class="project">
        @@include('templates/partials/project_nav.html')

        <div class="container aboutMe">
            <div class="banner">
                <div class="banner-image"></div>
                </div>
            <div class="project-content">
              <div id="section-2">
                <h4>Transitioning from an artist to a <strong>craftsman</strong>; a Character Animator to a <strong>UX Designer</strong>.</h4>
                  <img src="images/folio-imgs/me2.jpg" title="picture of me" alt="Image of a picture of me" />

                <p>
                  I am Pavithra Ramamurthy, a Masters in Human Computer Interaction Design Student at Indiana University. I worked as a character animator for nearly five years before I discovered UX.
                </p>
                <p>
                  As an animation artist I got to explore a wide range of human emotions and behaviour in the form of character acting and performance within the constraints of their surroundings. As a UX designer, I now dig deeper into the human behaviour in terms of their interactions with their surroudings!
                </p>
                <p>
                  I am looking for an amazing team of multifaceted designers who are just as curious and explorative; whom I can learn from and learn with as we build, innovate and design for humans and technology.
                </p>
                <h4>Stuff I do</h4>
                <div class="gallery-icon">
                    <a href="">
                        @@include('icons/ic-gallery-fancy.svg')
                    </a>
                </div>

              </div>
            </div>
    </div>
</div>

    <footer class="footer-about">
    <div id="contact" class="container cd-section">
      <h4>Get it touch, and let’s talk more!</h4>
        <div class="email">
            <a href="mailto:pavithraram.8@gmail.com">pavithraram.8@gmail.com</a>
        </div>

        <div class="social-icons">
            <a href="https://www.behance.net/Blottere" target="/blank" class="icon behance">@@include('icons/social-be.svg')</a>
            <a href="https://www.facebook.com/Blottere" target="/blank" class="icon facebook">@@include('icons/social-fb.svg')</a>
            <a href="https://in.linkedin.com/in/pavithraram" target="/blank" class="icon linkedIn">@@include('icons/social-li.svg')</a>
        </div>

        <div class="copyright"> 2016 &copy; <strong>Pavithra Ramamurthy</strong></p></div>
    </div>
    </footer>
</body>
</html>
