<!DOCTYPE html>
<html lang="en">

<head>
    @@include('templates/partials/home_metadata.html')

    <title>Auto Rapid Transit System</title>

    <link rel="stylesheet" href="styles/project.css">

</head>

<body>
    <div class="project">
        @@include('templates/partials/project_nav.html')

        <div class="container arts">
                @@include('templates/content/arts_content.html')
        </div>

        @@include('templates/partials/project_footer.html',{
            "prev":{
                "link": "thanksdoc.html",
                "title": "ThanksDoc",
                "image": "images/folio-imgs/thanksdoc/tile.png"
            },

            "next":{
                "link": "citibank.html",
                "title": "Citibank Redesign",
                "image": "images/folio-imgs/citibank/tile.png"
            }
        })

        @@include('templates/partials/footer.html')
    </div>
</body>
