<!DOCTYPE html>
<html lang="en">

<head>
    @@include('templates/partials/home_metadata.html')
    <title>Citibank Redesign</title>
    <link rel="stylesheet" href="styles/project.css">

</head>

<body>
    <div class="project">
        @@include('templates/partials/project_nav.html')
        <div class="container citibank">
                @@include('templates/content/citibank_content.html')
        </div>

        @@include('templates/partials/project_footer.html',{
            "prev":{
                "link": "arts.html",
                "title": "Auto Rapid Transit",
                "image": "images/folio-imgs/ARTS/tile.png"
            },

            "next":{
                "link": "yelpy.html",
                "title": "Yelpy!",
                "image": "images/folio-imgs/yelpy/tile.png"
            }
        })

        @@include('templates/partials/footer.html')
    </div>

    @@include('templates/partials/analytics.html')
</body>
