<!DOCTYPE html>
<html lang="en">

<head>
    @@include('templates/partials/home_metadata.html')
    <title>FourKites Visual Design</title>
    <link rel="stylesheet" href="styles/project.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fluidbox/2.0.4/css/fluidbox.min.css">

</head>

<body>
    <div class="project">
        @@include('templates/partials/project_nav.html')

                @@include('templates/content/fourkites_content.html')


        @@include('templates/partials/project_footer.html',{
            "prev":{
                "link": "citibank.html",
                "title": "Citibank Redesign",
                "image": "images/folio-imgs/citibank/tile.png"
            },

            "next":{
                "link": "thanksdoc.html",
                "title": "ThanksDoc",
                "image": "images/folio-imgs/thanksdoc/tile.png"
            }
        })

        @@include('templates/partials/footer.html')
    </div>

    @@include('templates/partials/analytics.html')
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js"></script>
    <script src="scripts/vendor/salvattore.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fluidbox/2.0.4/js/jquery.fluidbox.min.js"></script>
    <script>$(function () {
        $('.mix a').fluidbox();
    });
    </script>
</body>
