<!DOCTYPE html>
<html lang="en">

<head>
    @@include('templates/partials/home_metadata.html')
    <title>Pavithra Ramamurthy | Gallery</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fluidbox/2.0.4/css/fluidbox.min.css">
    <link rel="stylesheet" href="styles/gallery.css">
</head>
<body>
    @@include('templates/partials/project_nav.html')
        <div class="controls">
            <button class="filter selected" data-filter="*">All</button>
            <button class="filter" data-filter=".photo">Photos</button>
            <button class="filter" data-filter=".art">Art</button>    
        </div>
        <div id="grid">
            <div class="grid-sizer"></div>
            <div class="mix photo width-2">
                <a href="/images/Gallery/photos/1img.jpg"><img src="/images/thumbs/photos/1img.jpg"></a>
            </div>
            <div class="mix art">
                <a href="/images/Gallery/art/corn.jpg"><img src="/images/thumbs/art/corn.jpg"></a>
            </div>
            <div class="mix art">
                <a href="/images/Gallery/art/dad.jpg"><img src="/images/thumbs/art/dad.jpg"></a>
            </div>
            <div class="mix art">
                <a href="/images/Gallery/art/boy.jpg"><img src="/images/thumbs/art/boy.jpg"></a>
            </div>
            <!-- <div class="mix art">
                <a href="/images/Gallery/art/girlback.jpg"><img src="/images/thumbs/art/girlback.jpg"></a>
            </div> -->
            <div class="mix photo">
                <a href="/images/Gallery/photos/2img.jpg"><img src="/images/thumbs/photos/2img.jpg"></a>
            </div>
            <div class="mix art">
                <a href="/images/Gallery/art/lady.jpg"><img src="/images/thumbs/art/lady.jpg"></a>
            </div>
            <div class="mix photo">
                <a href="/images/Gallery/photos/3img.jpg"><img src="/images/thumbs/photos/3img.jpg"></a>
            </div>
            <div class="mix art">
                <a href="/images/Gallery/art/fall_watercolor.jpg"><img src="/images/thumbs/art/fall_watercolor.jpg"></a>
            </div>
            <div class="mix art">
                <a href="/images/Gallery/art/Jon-Snow.jpg"><img src="/images/thumbs/art/Jon-Snow.jpg"></a>
            </div>
            <div class="mix photo">
                <a href="/images/Gallery/photos/4img.jpg"><img src="/images/thumbs/photos/4img.jpg"></a>
            </div>
            <div class="mix art">
                <a href="/images/Gallery/art/faces.jpg"><img src="/images/thumbs/art/faces.jpg"></a>
            </div>
            <div class="mix art">
                <a href="/images/Gallery/art/fawn.jpg"><img src="/images/thumbs/art/fawn.jpg"></a>
            </div>
            <div class="mix photo">
                <a href="/images/Gallery/photos/6img.jpg"><img src="/images/thumbs/photos/6img.jpg"></a>
            </div>
            <div class="mix photo">
                <a href="/images/Gallery/photos/7img.jpg"><img src="/images/thumbs/photos/7img.jpg"></a>
            </div>
            <div class="mix photo">
                <a href="/images/Gallery/photos/8img.jpg"><img src="/images/thumbs/photos/8img.jpg"></a>
            </div>
            <div class="mix art">
                <a href="/images/Gallery/art/frog.jpg"><img src="/images/thumbs/art/frog.jpg"></a>
            </div>
            <div class="mix art">
                <a href="/images/Gallery/art/dancer.jpg"><img src="/images/thumbs/art/dancer.jpg"></a>
            </div>
            <div class="mix art">
                <a href="/images/Gallery/art/girl.jpg"><img src="/images/thumbs/art/girl.jpg"></a>
            </div>
            <div class="mix art">
                <a href="/images/Gallery/art/girl2.jpg"><img src="/images/thumbs/art/girl2.jpg"></a>
            </div>
            <div class="mix photo">
                <a href="/images/Gallery/photos/11img.jpg"><img src="/images/thumbs/photos/11img.jpg"></a>
            </div>
            <div class="mix art">
                <a href="/images/Gallery/art/img016.jpg"><img src="/images/thumbs/art/img016.jpg"></a>
            </div>
            <div class="mix photo">
                <a href="/images/Gallery/photos/12img.jpg"><img src="/images/thumbs/photos/12img.jpg"></a>
            </div>
            <div class="mix photo">
                <a href="/images/Gallery/photos/13img.jpg"><img src="/images/thumbs/photos/13img.jpg"></a>
            </div>
            <div class="mix art">
                <a href="/images/Gallery/art/man_smoke.jpg"><img src="/images/thumbs/art/man_smoke.jpg"></a>
            </div>
            <div class="mix art">
                <a href="/images/Gallery/art/mehrangargh.jpg"><img src="/images/thumbs/art/mehrangargh.jpg"></a>
            </div>
            <div class="mix photo">
                <a href="/images/Gallery/photos/9img.jpg"><img src="/images/thumbs/photos/9img.jpg"></a>
            </div>
            <div class="mix photo">
                <a href="/images/Gallery/photos/10img.jpg"><img src="/images/thumbs/photos/10img.jpg"></a>
            </div>
            <div class="mix photo">
                <a href="/images/Gallery/photos/14img.jpg"><img src="/images/thumbs/photos/14img.jpg"></a>
            </div>
            <div class="mix art">
                <a href="/images/Gallery/art/Mokey.jpg"><img src="/images/thumbs/art/Mokey.jpg"></a>
            </div>
            <div class="mix photo">
                <a href="/images/Gallery/photos/5img.jpg"><img src="/images/thumbs/photos/5img.jpg"></a>
            </div>
            <div class="mix art">
                <a href="/images/Gallery/art/ninja.jpg"><img src="/images/thumbs/art/ninja.jpg"></a>
            </div>
            <div class="mix art">
                <a href="/images/Gallery/art/Pastel_breathe.jpg"><img src="/images/thumbs/art/Pastel_breathe.jpg"></a>
            </div>
            <div class="mix photo">
                <a href="/images/Gallery/photos/16img.jpg"><img src="/images/thumbs/photos/16img.jpg"></a>
            </div>
            <div class="mix photo">
                <a href="/images/Gallery/photos/17img.jpg"><img src="/images/thumbs/photos/17img.jpg"></a>
            </div>
            <div class="mix art">
                <a href="/images/Gallery/art/pencil-artasian.jpg"><img src="/images/thumbs/art/pencil-artasian.jpg"></a>
            </div>
            <div class="mix photo">
                <a href="/images/Gallery/photos/18img.jpg"><img src="/images/thumbs/photos/18img.jpg"></a>
            </div>
            <div class="mix art">
                <a href="/images/Gallery/art/pot_pencil.jpg"><img src="/images/thumbs/art/pot_pencil.jpg"></a>
            </div>
            <div class="mix art">
                <a href="/images/Gallery/art/quicksketches.jpg"><img src="/images/thumbs/art/quicksketches.jpg"></a>
            </div>
            <div class="mix photo">
                <a href="/images/Gallery/photos/19img.jpg"><img src="/images/thumbs/photos/19img.jpg"></a>
            </div>
            <div class="mix art">
                <a href="/images/Gallery/art/quicksketches2.jpg"><img src="/images/thumbs/art/quicksketches2.jpg"></a>
            </div>
            <div class="mix photo">
                <a href="/images/Gallery/photos/20img.jpg"><img src="/images/thumbs/photos/20img.jpg"></a>
            </div>
            <div class="mix art">
                <a href="/images/Gallery/art/sarav.jpg"><img src="/images/thumbs/art/sarav.jpg"></a>
            </div>
            <div class="mix photo">
                <a href="/images/Gallery/photos/21img.jpg"><img src="/images/thumbs/photos/21img.jpg"></a>
            </div>
            <div class="mix art">
                <a href="/images/Gallery/art/scenery.jpg"><img src="/images/thumbs/art/scenery.jpg"></a>
            </div>
            <div class="mix art">
                <a href="/images/Gallery/art/whistler.jpg"><img src="/images/thumbs/art/whistler.jpg"></a>
            </div>
            <div class="mix photo">
                <a href="/images/Gallery/photos/22img.jpg"><img src="/images/thumbs/photos/22img.jpg"></a>
            </div>
            <div class="mix art">
                <a href="/images/Gallery/art/withflowers.jpg"><img src="/images/thumbs/art/withflowers.jpg"></a>
            </div>
            <div class="mix art">
                <a href="/images/Gallery/art/women.jpg"><img src="/images/thumbs/art/women.jpg"></a>
            </div>
            <div class="mix photo">
                <a href="/images/Gallery/photos/23img.jpg"><img src="/images/thumbs/photos/23img.jpg"></a>
            </div>
            <div class="mix art">
                <a href="/images/Gallery/art/xia-yui-valley.jpg"><img src="/images/thumbs/art/xia-yui-valley.jpg"></a>
            </div>
        </div>
        @@include('templates/partials/footer.html')
        @@include('templates/partials/analytics.html')
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fluidbox/2.0.4/js/jquery.fluidbox.min.js"></script>
    <script src="https://unpkg.com/isotope-layout@3.0/dist/isotope.pkgd.min.js"></script>
    <script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>
    <script>

    // Isotope
        var $grid = $('#grid').imagesLoaded( function() {
          $grid.isotope({
              itemSelector: '.mix',
              percentPosition: true,
              layout:'masonry',
              masonry:{
                  columnWidth: '.grid-sizer'
              },
              stagger:30,
              transitionDuration: 400
          });
        });

        $('.controls').on( 'click', 'button', function() {
          var filterValue = $(this).attr('data-filter');
          $grid.isotope({ filter: filterValue });
        });

        // set selected menu items
           var $optionSets = $('.controls'),
               $optionLinks = $optionSets.find('button');

               $optionLinks.click(function(){
                  var $this = $(this);
        	  // don't proceed if already selected
        	  if ( $this.hasClass('selected') ) {
        	      return false;
        	  }
           var $optionSet = $this.parents('.controls');
           $optionSet.find('.selected').removeClass('selected');
           $this.addClass('selected');
        });

        // FluidBox
        $(function () {
            $('.mix a').fluidbox({
                immediateOpen: true,
                loader: true
            });
        });
    </script>
</body>
