<!DOCTYPE html>
<html lang="en">

<head>
    @@include('templates/partials/home_metadata.html')
    <title>Pavithra Ramamurthy | Gallery</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fluidbox/2.0.4/css/fluidbox.min.css">
    <link rel="stylesheet" href="styles/gallery.css">
</head>
<body>
    @@include('templates/partials/project_nav.html')
    <div class="container">
        <div class="controls">
            <button class="filter" data-filter=".photo">Photos</button>
            <button class="filter" data-filter=".art">Art</button>
            <button class="filter" data-filter="all">All</button>
        </div>
        <div id="grid" data-columns>
            <div class="mix art">
                <a href="//pavithraram.com/images/Gallery/art/boy.jpg"><img src="//pavithraram.com/images/Gallery/art/boy.jpg"></a>
            </div>
            <div class="mix art">
                <a href="//pavithraram.com/images/Gallery/art/corn.jpg"><img src="//pavithraram.com/images/Gallery/art/corn.jpg"></a>
            </div>
            <div class="mix art">
                <a href="//pavithraram.com/images/Gallery/art/dad.jpg"><img src="//pavithraram.com/images/Gallery/art/dad.jpg"></a>
            </div>
            <div class="mix art">
                <a href="//pavithraram.com/images/Gallery/art/dancer.jpg"><img src="//pavithraram.com/images/Gallery/art/dancer.jpg"></a>
            </div>
            <div class="mix art">
                <a href="//pavithraram.com/images/Gallery/art/lady.jpg"><img src="//pavithraram.com/images/Gallery/art/lady.jpg"></a>
            </div>
            <div class="mix art">
                <a href="//pavithraram.com/images/Gallery/art/fall_watercolor.jpg"><img src="//pavithraram.com/images/Gallery/art/fall_watercolor.jpg"></a>
            </div>
            <div class="mix art">
                <a href="//pavithraram.com/images/Gallery/art/Jon-Snow.jpg"><img src="//pavithraram.com/images/Gallery/art/Jon-Snow.jpg"></a>
            </div>
            <div class="mix art">
                <a href="//pavithraram.com/images/Gallery/art/faces.jpg"><img src="//pavithraram.com/images/Gallery/art/faces.jpg"></a>
            </div>
            <div class="mix art">
                <a href="//pavithraram.com/images/Gallery/art/fawn.jpg"><img src="//pavithraram.com/images/Gallery/art/fawn.jpg"></a>
            </div>
            <div class="mix art">
                <a href="//pavithraram.com/images/Gallery/art/frog.jpg"><img src="//pavithraram.com/images/Gallery/art/frog.jpg"></a>
            </div>
            <div class="mix art">
                <a href="//pavithraram.com/images/Gallery/art/girl.jpg"><img src="//pavithraram.com/images/Gallery/art/girl.jpg"></a>
            </div>
            <div class="mix art">
                <a href="//pavithraram.com/images/Gallery/art/girl2.jpg"><img src="//pavithraram.com/images/Gallery/art/girl2.jpg"></a>
            </div>
            <div class="mix art">
                <a href="//pavithraram.com/images/Gallery/art/img016.jpg"><img src="//pavithraram.com/images/Gallery/art/img016.jpg"></a>
            </div>
            <div class="mix art">
                <a href="//pavithraram.com/images/Gallery/art/man_smoke.jpg"><img src="//pavithraram.com/images/Gallery/art/man_smoke.jpg"></a>
            </div>
            <div class="mix art">
                <a href="//pavithraram.com/images/Gallery/art/mehrangargh.jpg"><img src="//pavithraram.com/images/Gallery/art/mehrangargh.jpg"></a>
            </div>
            <div class="mix art">
                <a href="//pavithraram.com/images/Gallery/art/Mokey.jpg"><img src="//pavithraram.com/images/Gallery/art/Mokey.jpg"></a>
            </div>
            <div class="mix art">
                <a href="//pavithraram.com/images/Gallery/art/Nakedlady.jpg"><img src="//pavithraram.com/images/Gallery/art/Nakedlady.jpg"></a>
            </div>
            <div class="mix art">
                <a href="//pavithraram.com/images/Gallery/art/ninja.jpg"><img src="//pavithraram.com/images/Gallery/art/ninja.jpg"></a>
            </div>
            <div class="mix art">
                <a href="//pavithraram.com/images/Gallery/art/Pastel_breathe.jpg"><img src="//pavithraram.com/images/Gallery/art/Pastel_breathe.jpg"></a>
            </div>
            <div class="mix art">
                <a href="//pavithraram.com/images/Gallery/art/pencil-artasian.jpg"><img src="//pavithraram.com/images/Gallery/art/pencil-artasian.jpg"></a>
            </div>
            <div class="mix art">
                <a href="//pavithraram.com/images/Gallery/art/pot_pencil.jpg"><img src="//pavithraram.com/images/Gallery/art/pot_pencil.jpg"></a>
            </div>
            <div class="mix art">
                <a href="//pavithraram.com/images/Gallery/art/quicksketches.jpg"><img src="//pavithraram.com/images/Gallery/art/quicksketches.jpg"></a>
            </div>
            <div class="mix art">
                <a href="//pavithraram.com/images/Gallery/art/quicksketches2.jpg"><img src="//pavithraram.com/images/Gallery/art/quicksketches2.jpg"></a>
            </div>
            <div class="mix art">
                <a href="//pavithraram.com/images/Gallery/art/sarav.jpg"><img src="//pavithraram.com/images/Gallery/art/sarav.jpg"></a>
            </div>
            <div class="mix art">
                <a href="//pavithraram.com/images/Gallery/art/scenery.jpg"><img src="//pavithraram.com/images/Gallery/art/scenery.jpg"></a>
            </div>
            <div class="mix art">
                <a href="//pavithraram.com/images/Gallery/art/whistler.jpg"><img src="//pavithraram.com/images/Gallery/art/whistler.jpg"></a>
            </div>
            <div class="mix art">
                <a href="//pavithraram.com/images/Gallery/art/withflowers.jpg"><img src="//pavithraram.com/images/Gallery/art/withflowers.jpg"></a>
            </div>
            <div class="mix art">
                <a href="//pavithraram.com/images/Gallery/art/women.jpg"><img src="//pavithraram.com/images/Gallery/art/women.jpg"></a>
            </div>
            <div class="mix art">
                <a href="//pavithraram.com/images/Gallery/art/xia-yui-valley.jpg"><img src="//pavithraram.com/images/Gallery/art/xia-yui-valley.jpg"></a>
            </div>
            <div class="mix photo">
                <a href="//500px.com/photo/150087549/rocky-edge-by-pavithra-ram" ><img src="https://drscdn.500px.org/photo/150087549/q%3D80_h%3D450/7e17a885678163b94522f3398984b277"></a>
            </div>
            <div class="mix art">
                <a href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/4.jpg"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/4.jpg"></a>
            </div>
            <div class="mix photo">
                <a href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/6.jpg"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/6.jpg"></a>
            </div>
            <div class="mix art">
                <a href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/8.jpg"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/8.jpg"></a>
            </div>
            <div class="mix photo">
                <a href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/9.jpg"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/9.jpg"></a>
            </div>
            <div class="mix art">
                <a href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/7.jpg"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/7.jpg"></a>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js"></script>
    <script src="scripts/vendor/salvattore.min.js"></script>
    <script src="scripts/vendor/mixitup.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fluidbox/2.0.4/js/jquery.fluidbox.min.js"></script>
    <script>
        $('#grid').mixItUp({
            animation: {
            duration: 350,
            effects: 'fade',
            easing: 'ease',
            }
        });

        $(function () {
            $('.mix a').fluidbox();
        });
    </script>
</body>
