<!DOCTYPE html>
<html lang="en">

<head>
    @@include('templates/partials/home_metadata.html')

    <title>Yelpy, the food expert!</title>
    <link rel="stylesheet" href="styles/project.css">

</head>

<body>
    <div class="project">
        @@include('templates/partials/project_nav.html')
        <div class="container yelpy">
                @@include('templates/content/yelpy_content.html')
        </div>

        @@include('templates/partials/project_footer.html',{
            "prev":{
                "link": "fourkites.html",
                "title": "Fourkites",
                "image": "images/folio-imgs/FourKites/fourkitestile.png"
            },

            "next":{
                "link": "thanksdoc.html",
                "title": "ThanksDoc",
                "image": "images/folio-imgs/thanksdoc/tile.png"
            }
        })

        @@include('templates/partials/footer.html')
    </div>

    @@include('templates/partials/analytics.html')
</body>
