<div class="banner">
    <div class="banner-image">
        <img src="images/folio-imgs/ARTS/banner.png" alt="ARTS Banner" title="ARTS"/>
    </div>
    <div class="banner-text light-text">
        <div class="banner-title">Auto Rapid Transit System</div>
        <div class="banner-tagline"></div>
    </div>
</div>

<div class="project-content">
    <div id="section-1">
        <div class="left">
            <div class="c01" id="the-problem">
                <h4>The Problem</h4>
                <p>Public transportation bus drivers don’t have a reliable system to communicate effectively with each other and with dispatch, while the passengers suffer long wait times due to low frequency of buses in small cities.</p>
            </div>

            <div class="c02" id="approach">
                <h4>Approach</h4>
                <p>User interviews, field observation, affinity diagraming and bodystorming.</p>
            </div>

            <div class="c04" id="my-role">
                <h4>My Role</h4>
                <p>I organised the workflow of the team and supervised the Concept Sketching and Prototyping phases.</P>
                  </p> Every team member shared an equal amount of work during every stage of the design process.</p>
            </div>
        </div>


        <div class="right">
            <div class="c03" id="the-team">
                <h4>The Team</h4>
                <ul>
                    <li>Pavithra Ramamurthy<em> - Prototyping and Concept Sketching</em></li>
                    <li>Philip Begel<em> - Usability Testing and Presentation</em></li>
                    <li>Peggy Lu<em> - User Research</em></li>
                    <li>Sanjana Mathur<em> - Design Documentation</em></li>
                </ul>
            </div>


        </div>
    </div>

    <div id="section-2">
        <h3>Solution</h3>
        <p>
            <bigWord>ARTS (Auto Rapid Transport System)</bigWord>, an autonomous system that gathers real time information through vehicle to vehicle and vehicle to infrastructure communication (traffic signal, other buses, main system) to provide bus stop and route prioritizations in real time to the bus drivers. The prioritization will be facilitated by the demand at a bus stop and individual user wait times. </p>
<p>
Each bus would operate on its designated route till an infrastructural breakdown, during which the autonomous system would create a new route for the buses to cover before they can loop back to their normal routes.
        </p>

<h4>The Process</h4>
<p>
  Mercedes Benz’s Research and Development was ready to launch a fleet of autonomous vehicles ranging from private vehicles such as cars to a variety of public transportation vehicles such as buses, trucks and taxis. Each vehicles also brought a range of considerations and setback issues such as safety, trust, ethics, control and efficiency. Mercedes Benz wanted us to pick one of their vehicles and come up with a design solution that speaks to these very specific problems.

</p>
        <h4>Where we looked…</h4>

        <p>We wanted to gain clear understanding of what autonomous vehicles were, the capabilities of an autonomous vehicle and an up to date information of where the current trends of autonomous vehicles stood in terms of usage, applicability and feasibility as a mainstream product. We began by aggregating and studying articles on autonomous vehicles, with currently existing autonomous features (e.g. cruise control, automatic parking, pedestrian and vehicle detection, etc.) as well as autonomous vehicles that are being tested such as Mercedes Benz CityPilot Bus, Self-driving Uber, Google Self-driving Car, Tesla’s Model S auto pilot, etc.
We also conducted research on the disruptive issues that are floating in the market surrounding autonomous vehicles through articles and writings including  Batya Friedman (Professor in the Information School at the University of Washington) and Steven Shladover, a researcher at the Partners for Advanced Transportation Technology at the University of California, Berkeley.</p>
<div class="image-grid">
<div class="cols_50">
  <p>With the information we gained, we performed a rigorous phase of affinity diagramming detailing the problems that we felt were consistent with autonomous vehicles and normal buses in general. We made several assumptions based on our own experiences of taking public buses in different locations inside USA.</p>
</div>
<div class="cols_50 image">
    <img src="images/folio-imgs/ARTS/affinity.jpg" title="Affinity Diagram" alt="Image of our Affinity Diagram" />
    <div class="image-sub">Affinity Diagram of our Predesposition</div>
</div>
        </div>
          <p>
            We mapped out several problematic areas but to validate these problems based on our text book research and assumptions we decided to split up and interview our users.
          </p>

        <h4>Whom we spoke to…</h4>

        <p>Based on our initial assumptions we began speaking to <bigWord>passengers</bigWord>, the layman who takes the service everyday to get from point A to point B.
</p>

      <p>
        We constrained our initial design to Bloomington, Indiana since our users were most easily accessible within this geographical constraint. Bloomington is a college town in Indiana where the primary passengers comprises of graduate and undergraduate students. The rest of the users were a combination of instructors, office workers and shopkeepers. This constraint later helped us pay attention to specific problem areas of small city commutes.
      </p>

<p>
  We did a round of the city bus stops, both in popular and less popular routes and spoke to a dozen passengers. Our questions to our users were wide in variety such as what was their personal choice of transportation?, Why did they ride the bus services?, How did their commuting experience change through the day? Did they find their commute to be pleasant? Why and Why not?
</p>
<p>
  We synthesized our findings based on our initial research through a round of meticulous mind mapping.
</p>

        <img src="images/folio-imgs/ARTS/mindmap.jpg" class="full-width" title="MindMap Whiteboard" alt="Image of our mind mapping exercise on a whiteboard"/>

        <div class="image-sub">Mind Mapping our Research Data</div>

        <p>The best part of the design process is when you can take the key insights and visualise different ways of solving the problem. The team and I got together and went over several rounds of <bigWord>Round Robin Sketching</bigWord> to formulate as many solutions as we could. Later we went over each solution and discussed various pros and cons of the designs.  We formulated a main idea that we all agreed on and went to the users to validate our ideas through preliminary user tests. Our design generally raised a lot of concerns. For starters, an autonomous bus pod design forced the users to imagine a system that currently did not exist. We drew several insights based on our preliminary test findings that served as an eye opener.</p>
        <ul class="bullets">
          <li>
            The users weren’t ready to fully trust an autonomous bus system yet.
          </li>

  <li>
    The current road systems and city layout aren’t designed to accommodate autonomous buses within the constraints of its current infrastructure.
  </li>
<li>
  A fully functional autonomous vehicle would probably become a common mode of transportation much into the future, so it is impossible to accurately imagine how a smart city might have developed to accommodate it.
</li>
        </ul>

        <p>We realised that we needed to look into the near future and design to smartly integrate the autonomous capabilities in stages. </p>

        <p>We split up again and began talking to the other set of primary users of a regular bus system, <bigWord>the drivers.</bigWord> We interviewed a couple of drivers who drove the popular routes of Bloomington. Our previous findings indicated that low-frequency and over crowded buses was a major pain point for passengers. Yet, bus systems were understood to have standard schedules and higher frequencies during peak hours. We realised that we needed to understand the other side of the entire system better. We needed to be able to pinpoint where and how this gap occurred within the transit system.
</p>
  <div class="image-grid">
  <img src="images/folio-imgs/ARTS/pavindriver.jpg" title="Driver Interview" alt="Image of our interview with our driver"/>
  <img src="images/folio-imgs/ARTS/sanjanadriver.jpg" title="Driver Interview" alt="Image of our interview with our driver"/>
</div>

<div class="image-sub">Driver Interviews</div>

        <div class="quote">"I sometimes don't get to take breaks. I mean, today is a bit better. I got 6 minutes before my next trip begins" <span class="quote-sub">- P1, Bus Driver, Bloomington Transit[User Interview]</span></div>

        <p>In our interviews with the drivers we asked them to give us an idea of what a normal day of work looked like, what their schedules were like, how they made decisions during delays or increase in traffic or emergencies, when they get to take breaks, their shift hours, etc. We also asked each of them to walk us through the controls on a driver’s console to help us understand their experience a little better.
</p>

<p>
  The <bigWord>key findings</bigWord> we garnered from these interviews were that
<ul class="bullets">
  <li>
    Drivers are constantly multitasking between driving, communicating with dispatch and other drivers, checking for crowding inside the bus, checking for schedule delays and requests for passenger stops. This gets very difficult to manage and increases risk on the road.
  </li>

  <li>
    Bus drivers heavily rely on communicating with dispatch for reroutes and emergency situations. This coordination usually takes time due to the manual nature of the communication process.
  </li>
  <li>
    Because dispatch is often another driver or different people every time, there is no protocol or consistency and drivers generally feel that dispatch is unreliable. Often the bus drivers make decisions on the go or by manually coordinating on the radio.
  </li>
  <li>
    During delays or overcrowding, bus drivers use hand gestures to communicate with people at a stop to convey that they would be picked up by the next bus instead.
  </li>
</ul>
</p>

<p>
  Our interviews and observations gave us enough lead to build our <bigWord>personas</bigWord> representing both our set of users the drivers and the passengers.
</p>

//insert personas//

        <p>Based on our key findings we were able to pull specific insights that helped us conceptualize a possible solution for the main problems that we recognised.</p>

        <p><bigWord>We understood that people need a reliable bus system where they could just travel comfortably from point A to B without having to wait for a long time during all times of the day.</bigWord></p>
<p>
<bigWord>Drivers needed to Safely offload communication tasks while driving.</bigWord>
</p>

        <p>We needed to figure how we could use Mercedez Benz’s autonomous vehicle features to solve for these very particular problem spaces.
</p>

        <p>We began the round robin sketching process again! We had potentially explosive ideas from our exploration before, but now we were focusing on funneling down to the core aspect of solving the problem. At the end of the process we had a concrete idea that all of us wanted to explore and test.</p>

        //StoryBoard//

        <p>TDuring our initial round of testing phase we walked our testers, both passengers and drivers through concept scenarios and specific situations to judge their responses. We also involved the testers in task based interactions using paper prototypes to record the usability of the interface itself.</p>

        <img src="images/folio-imgs/ARTS/wireframe.png" class="full-width" title="ARTS Wireframe" alt="Image of the wireframe of ARTS" />

        <div class="image-sub">Wireframe - ARTS</div>

<h4>What we found…</h4>
        <p>From testing passengers we realised that there was a certain learning curve to the interface. The passengers tended to think that the interface just provided a real time update of when their bus would arrive. They didn’t recognise that the bus was prioritising stops based on user demands till they rode the bus. Nevertheless, they liked the fact that they got realtime updates of the bus arrival times.
</p>

        <p>In our initial design of the driver’s interface, we had a visual map that would indicate route changes and allocated stops. While usability testing our design with our drivers we realised that the map interface showing priority stops along route can be a safety hazard if driver has to take quick looks at it.
</p>
<p>What more, the drivers are already aware and knowledgeable about different bus routes and streets, in which case a visual navigation system may be unnecessary.
</p>

<p>
We <bigWord>Concluded</bigWord> that a voice interface for receiving priority routes instead of a visual interface would be a more viable design modification for bus drivers. We also decided to have a brief animated introduction to the autonomous prioritization system on the passenger’s interface.
</p>


        <p>Based on these modifications we would like to run further high fidelity usability tests on a focused community utilising one or two bus lines while using a Mercedes Benz’s centrally controlled infrastructure to optimise the autonomous prioritisation.

</p>
<p>
  We want to design for current infrastructure and put a better system in place in the coming years. And eventually fluidly transition from some specific autonomous functions (ie automated route-passenger prioritization system) to semi-autonomous aided functions (ie the prior system with autopilot) to fully autonomous (fully self driving incorporating the proposed system).
</p>
<img src="images/folio-imgs/ARTS/SCOPE.png" class="full-width" title="Scope" alt="Scope of the design" />

<h4>The Team</h4>
        <img src="images/folio-imgs/ARTS/teampic.jpg" class="full-width" title="Team Picture" alt="A Picture of the team." />
        <div class="image-sub">FROM LEFT: PHILIP BEGEL, PAVITHRA RAMAMURTHY(ME), Sanjana Mathur & Peggy Lu</div>

        <h4>What I Learnt</h4>
        <ul class="bullets">
            <li>User experience designing is never a linear process and the users can help you validate your concept every step of the way
</li>
            <li>Ask questions, lots and lots of questions on every aspect of the problem space. Record these questions and work with your team to answer all of them throughout the design process. Then ask more questions.
</li>
<li>Design iteratively and be ready to chuck your ideas and go back to phase one if necessary.
</li>
        </ul>
    </div>
</div>
