<div class="projtitle">
    <h5>Academic Work</h5>
</div>

<div class="banner">
    <div class="banner-image">
        <img src="images/folio-imgs/ARTS/banner.png" alt="ARTS Banner" title="ARTS"/>
    </div>
    <div class="banner-text light-text">
        <div class="banner-title">Auto Rapid Transit System</div>
        <div class="banner-tagline"></div>
    </div>
</div>

<div class="project-content">
    <div id="section-1">
        <div class="left">
            <div class="c01" id="the-problem">
                <h4>The Problem</h4>
                <p>Public transportation bus drivers don’t have a reliable system to communicate effectively with each other and with dispatch, while the passengers suffer long wait times due to a low frequency of buses in small cities.</p>
            </div>

            <div class="c02" id="approach">
                <h4>Approach</h4>
                <p>User interviews, field observation, affinity diagraming and body storming.</p>
            </div>

            <div class="c05" id="projecttime">
                <h4>Project duration</h4>
                <p>3 Weeks of total project time. The deliverables included a design document and a slide deck presentation.</p>
            </div>
        </div>


        <div class="right">
            <div class="c03" id="the-team">
                <h4>The Team</h4>
                <ul>
                    <li>Pavithra Ramamurthy<strong><em> - Prototyping, Concept Sketching and Storyboarding</em></strong></li>
                    <li>Philip Begel<strong><em> - Usability Testing and Presentation</em></strong></li>
                    <li>Peggy Lu<strong><em> - User Research</em></strong></li>
                    <li>Sanjana Mathur<strong><em> - Design Documentation</em></strong></li>
                </ul>
            </div>
            <div class="c04" id="my-role">
                <h4>My Role</h4>
                <p>I organized the workflow of the team and supervised the Concept Sketching and Prototyping phases. I also created the storyboard of the user experience.</P>
                </p> That being said, every team member contributed to every stage of the design process.</p>
            </div>

        </div>
    </div>

    <div id="section-2">
        <h3>Solution</h3>
        <p><bigWord>ARTS (Auto Rapid Transport System)</bigWord>, an autonomous system that gathers real-time information through the vehicle to vehicle and vehicle to infrastructure communication (traffic signal, other buses, central system) to provide bus stop and route prioritization in real time to the bus drivers.</p>
        <p>
            The passengers receive prioritized bus allocations based on their individual arrival times at the bus stops.
        </p>
        <p>
            The buses are automatically allocated bus stops on popular routes based on passenger demands.
        </p>
        <p>Each bus would operate on its designated route till an infrastructural breakdown happens during which the autonomous system would create a new route for the buses to cover before they can loop back to their regular routes.</p>
        <h4>User Experience Storyboard</h4>

        <div id="mobileorboard">
            <p>Passengers provide the desired destinations using the mobile application or at the ARTS booth.</p>
            <div class="image-grid">
                <div class="cols_66 image">
                    <img src="images/folio-imgs/ARTS/1mobileorboard.jpg" title="User Interface options" alt="Image of our user interface options" />
                </div>
            <div class="cols_33 image">
                <img src="images/folio-imgs/ARTS/3boardswipe.jpg" title="User Interface options" alt="Image of our user interface options" />
            </div>
            <div class="image-sub">User can use the <strong>mobile application</strong> or the <strong>ARTS booth</strong></div>
        </div>
        <div id="withconsole">
            <div class="image-grid">
                <div class="cols_66 image">
                    <img src="images/folio-imgs/ARTS/2view-board.jpg" class="full-width" title="User Interface options" alt="Image of our user interface options" />
                    <div class="image-sub">User Interaction with the ARTS Console</div>
                </div>
                <div class="cols_33 image">
                    <p>The ARTS booth users can use their electronic bus card to check in and receive their prioritized bus timings</p>
                </div>
            </div>
        </div>
        <div id="Userbuscheckin">
            <div class="image-grid">
                <div class="cols_66 image">
                    <img src="images/folio-imgs/ARTS/4line and swipe.jpg" title="User Interface options" alt="Image of our user interface options" />
                    <div class="image-sub">User swipes electronic card or mobile QR code at the bus check-in</div>
                </div>
                <div class="cols_33">
                    <p>ARTS cross checks passenger count and confirms trip payment</p>
                </div>
            </div>
        </div>
        <div id="busride">
            <div class="image-grid">
                <div class="cols_50 image">
                    <img src="images/folio-imgs/ARTS/5insidebus.jpg" title="User Interface options" alt="Image of our user interactions" />
                    <div class="image-sub">User rides smoothly towards his stop</div>
                </div>
                <div class="cols_50 image">
                    <img src="images/folio-imgs/ARTS/6driverinterface.jpg" title="User Interface options" alt="Image of our user interactions" />
                    <div class="image-sub">ARTS communicates stop information and traffic status to the driver via a bluetooth speaker.</div>
                </div>
            </div>
            <p>
                We decided to use an audio interface for communications with the driver since usability tests showed that a visual interface could be potentially dangerous and inconvenient while driving.
            </p>
        </div>
        <div id="busride">
            <div class="image-grid">
                <div class="cols_33 image">
                    <img src="images/folio-imgs/ARTS/8Accident route.png" title="User Interface options" alt="Image of our user interactions" />
                    <div class="image-sub">The display screen communicates accident zone and rerout information to the passengers</div>
                </div>
                <div class="cols_66 image">
                    <img src="images/folio-imgs/ARTS/7driver_accident.png" title="User Interface options" alt="Image of our user interactions" />
                    <div class="image-sub">The driver receives realtime accident zone and reroute information along with new stop schedule and passenger count details.</div>
                </div>
            </div>
        </div>
        <p>
            Reroute informations and delays are similarly communicated to passengers waiting at the bus stops. Alternate bus informations or bus stop locations are provided for pick ups.
        </p>
</div>

        <h4>The Process</h4>
        <p>The project brief asked us to pick a problem space pertaining to a fleet of autonomous vehicles ranging from private vehicles to a variety of public transportation vehicles and design a solution that answers to issues such as safety, trust, ethics, control and efficiency.</p>

        <p>
            After a prelimnary round of discussion we narrowed our initial focus to <bigWord>public transportation buses</bigWord> in small cities like Bloomington, Indiana, since we would have an easy access to our user group.
        </p>

        <h4>Where we looked</h4>

        <p>We wanted to gain clear understanding of what autonomous vehicles were, the capabilities of an autonomous vehicle and an up to date information of where the current trends of autonomous vehicles stood in terms of usage, applicability and feasibility as a mainstream product. We began by aggregating and studying articles on autonomous vehicles with currently existing autonomous features (e.g. cruise control, automatic parking, pedestrian and vehicle detection, etc.) as well as autonomous vehicles that are being tested such as <strong>Mercedes Benz CityPilot Bus, Self-driving Uber, Google Self-driving Car, Tesla’s Model S auto pilot,</strong> etc.</p>
          <div class="image-grid">
              <div class="cols_50"><p>We also conducted research on the disruptive issues that are floating in the market surrounding autonomous vehicles through articles and writings including  <strong>Batya Friedman, professor in the Information School at the University of Washington and Steven Shladover, a researcher at the Partners for Advanced Transportation Technology at the University of California, Berkeley.</strong></p>

        <p>With the information we gained, we performed a rigorous phase of affinity diagramming detailing the problems that we felt were consistent with autonomous vehicles. Based on assumptions we made through our experiences, we performed another set of affinity diagram on problems of public transportation city buses.</p>
    </div>

    <div class="cols_50 image">
        <img src="images/folio-imgs/ARTS/affinity.jpg" title="Affinity Diagram" alt="Image of our Affinity Diagram" />
        <div class="image-sub">Affinity Diagram of our Predesposition</div>
    </div>
</div>


                <h4>User Research - Phase I</h4>

                <p>To validate the problems we mapped out based on our assumptions and secondary research, we decided to split up and interview our users. We began speaking to <bigWord>passengers</bigWord>, the layman who takes the service everyday to get from point A to point B.
                </p>

                      <p>
                We constrained our initial design to <strong>Bloomington, Indiana</strong> since our users were most easily accessible within this geographical constraint. Bloomington is a college town in Indiana where the primary passengers comprises of graduate and undergraduate students. The rest of the users were a combination of instructors, office workers and shopkeepers. This constraint later helped us pay attention to specific problem areas of small city commutes.
                      </p>

        <div class="image-grid">
            <div class="cols_33">
                <p>
                  We did a round of the city bus stops, both in popular and less popular routes and spoke to 12 passengers. Our conversations with our user group comprised of a wide range of questions such as - what their personal choice of transportation was, Why they rode the bus services, How their commuting experience changed through the day, and if they found their commute to be comfortable.
                </p>

                <p>
                  We synthesized our findings based on our initial research through a round of meticulous <bigWord>mind mapping</bigWord> which helped us view common patterns in problem spaces.
                </p>
            </div>
                <div class="cols_66">
                    <img src="images/folio-imgs/ARTS/mindmap.jpg" class="full-width" title="MindMap Whiteboard" alt="Image of our mind mapping exercise on a whiteboard"/>

                    <div class="image-sub">Mind Mapping our Research Data</div>
                </div>
        </div>



        <h4>Concept Sketching - Phase I</h4>

        <p>The best part of the design process is when you can take the key insights and visualise different ways of solving the problem. The team and I got together and went over several rounds of <bigWord>Round Robin Sketching</bigWord> to formulate as many solutions as we could. Later we went over each solution and discussed various pros and cons of the designs.</p>
<div class="sketches">
    <h4>Design concept explorations</h4>
    <div class="cols_33">
        <img src="images/folio-imgs/ARTS/1.jpg" class="full-width" title="sketches" alt="Image of our sketch explorations"/>
    </div>
    <div class="cols_33">
        <img src="images/folio-imgs/ARTS/2.jpg" class="full-width" title="sketches" alt="Image of our sketch explorations"/>
    </div>
    <div class="cols_33">
        <img src="images/folio-imgs/ARTS/3.jpg" class="full-width" title="sketches" alt="Image of our sketch explorations"/>
    </div>
    <div class="cols_33">
        <img src="images/folio-imgs/ARTS/4.jpg" class="full-width" title="sketches" alt="Image of our sketch explorations"/>
    </div>

    <div class="cols_33">
        <img src="images/folio-imgs/ARTS/6.jpg" class="full-width" title="sketches" alt="Image of our sketch explorations"/>
    </div>
    <div class="cols_33">
        <img src="images/folio-imgs/ARTS/7.jpg" class="full-width" title="sketches" alt="Image of our sketch explorations"/>
    </div>
</div>

    <h4>Preliminary Usability Test</h4>
            <p>
                Based on the above concept explorations, we initially came up with a design concept using autonomous pods that can attach and detach based on route priorities and demand. We made sketches of what the concept would look like and decided to test it on users.  We had three users from our user group view the design sketches and share their thoughts.</p>

<p>Our initial design generally raised a lot of concerns. An autonomous bus pod design forced the users to imagine a system that currently did not exist. We drew several insights based on our preliminary test findings.
            </p>
        <ul class="bullets">
          <li>
            The users weren’t ready to fully <strong>trust</strong> an autonomous bus system yet.
          </li>

  <li>
    The current road systems and the city layout aren’t designed to accommodate autonomous <strong>bus pods</strong> within the constraints of its <strong>current infrastructure.</strong>
  </li>
<li>
  A fully <strong>functional autonomous vehicle</strong> would probably become a common mode of transportation much into the <strong>future</strong>, so it is difficult to accurately imagine how a smart city might have developed to accommodate it.
</li>
        </ul>

        <p>We realised that we needed to look into the <strong>near future</strong> and design to smartly integrate the <strong>autonomous capabilities in stages</strong>. </p>

<h4>User Research - Phase II</h4>
        <p>Our previous findings indicated that low-frequency and over crowded buses was a major pain point for passengers. Yet, bus systems were understood to have standard schedules and higher frequencies during peak hours. We realised that we needed to understand the other side of the system better. We needed to be able to pinpoint where and how this gap occurred within the transit system.
</p>
<p>
    We split up again and began talking to the other set of primary users of a regular bus system, <bigWord>the drivers.</bigWord>
</p>

  <div class="image-grid">
      <div class="cols_50 image">
          <img src="images/folio-imgs/ARTS/pavindriver.jpg" title="Driver Interview" alt="Image of our interview with our driver"/>
      </div>
  <div class="cols_50 image">
      <img src="images/folio-imgs/ARTS/sanjanadriver.jpg" title="Driver Interview" alt="Image of our interview with our driver"/>
  </div>
</div>
<div class="image-sub">Driver Interviews</div>

        <div class="quote">"I sometimes don't get to take breaks. I mean, today is a bit better. I got 6 minutes before my next trip begins" <span class="quote-sub">- P1, Bus Driver, Bloomington Transit[User Interview]</span></div>

        <p>
            We interviewed <strong>two drivers</strong> who drove the popular routes of Bloomington. In our conversations, we asked them to give us an idea of what a typical day of work looked like, what their schedules were like, how they made decisions during delays and increase in traffic or emergencies and when they get to take breaks. We also asked each of them to walk us through the controls on a driver’s console to help us understand their current interface.
</p>

    <p>
        We also observed the drivers as they drove through their scheduled routes and took note of their body language, response times and their interaction with their environment.
    </p>

<p>
  The <bigWord>key findings</bigWord> we garnered from these interviews and observations were that
<ul class="bullets">
  <li>
    Drivers are constantly <strong>multitasking</strong> between driving, communicating with dispatch and other drivers, checking for crowding inside the bus, checking for schedule delays and requests for passenger stops. This gets very difficult to manage and increases risk on the road.
  </li>

  <li>
    Bus drivers heavily rely on <strong>communicating with dispatch</strong> for reroutes and emergency situations. This coordination usually takes time due to the manual nature of the communication process.
  </li>
  <li>
    Because dispatch is often another driver or a different person every time, there is no protocol or consistency and drivers generally feel that <strong>dispatch is unreliable.</strong> Often the bus drivers make decisions on the go or by manually coordinating on the radio.
  </li>
  <li>
    During delays or overcrowding, bus drivers use <strong>hand gestures</strong> to communicate with people at a stop to convey that they would be picked up by the next bus instead.
  </li>
</ul>
</p>

<p>
  Our interviews and observations gave us enough lead to build our <bigWord>personas</bigWord> representing both the sets of our users the drivers and the passengers.
</p>

<div class="image-grid">
    <div class="cols_33">
        <img src="images/folio-imgs/ARTS/passdoug.png" title="Passenger doug" alt="Image of Persona - Doug"/>
    </div>
    <div class="cols_33">
        <img src="images/folio-imgs/ARTS/driverrobert.png" title="driver Bob" alt="Image of Persona - Robert"/>
    </div>
</div>

    <p class="quote">
        What would Robert do when he has to refer to a visual map for information while he is driving?
    </p>

<p>
    Based on our key findings we were able to pull specific <bigWord>insights</bigWord> that helped us conceptualize a possible solution for the main problems that we recognised. The personas helped us look at our design concepts deeper and served as a good point of reference for our use cases.
</p>

        <ul class="bullets">
            <li>
                We understood that people need a reliable bus system where they could just <strong>travel smoothly from point A to B </strong>without having to wait for a long time during all times of the day.
            </li>
            <li>
                Drivers needed to Safely <strong>offload communication</strong> tasks while driving.
            </li>
        </ul>

<h4>Concept Sketching - Phase II</h4>
            <p>We began the round robin sketching process again! We had potentially explosive ideas from our exploration before, but now we were focusing on funneling down to the core aspect of solving the problem. We finally came up with ARTS - Autonomous Rapid Transit System that smartly integrates automated route prioritization capabilities through the vehicle to infrastructure communication. ARTS would offload decision-making responsibilities from the drivers and instead assist them with stop instructions and route changes through audio communication.</p>
                <p>
                    The passengers would receive real-time updates on their bus statuses through the ARTS application or at the ARTS booth.
                </p>

                <img src="images/folio-imgs/ARTS/conceptsketch.jpg" title="Concept sketch" alt="Image of our concept sketch"/><div class="image-sub"> Concept Sketching</div>

     <h4>Usability test</h4>

        <p>During our initial round of testing phase, we walked <strong>five passengers</strong> and <strong>two drivers</strong> through <strong>concept scenarios</strong> and specific <strong>use cases</strong> to gauge their responses to using such a system.
            <p>
                We then involved the testers in a task-based interaction using <strong>paper prototypes</strong> to record the usability of the interface itself, followed by a series of questions on their experience in using the interface.
            </p>

            <h4>Design Validation</h4>
                    <p>From testing passengers, we realized that there was a certain learning curve to the interface. The passengers tended to think that the interface just provided a real time update of their bus arrival times. They didn’t recognise that the bus was prioritising stops based on user demands till they rode the bus. Nevertheless, they liked the fact that they got realtime updates of the bus arrival times.
                    </p>

                    <p>
                    In our initial design of the driver’s interface, we had a visual map that would indicate route changes and allocated stops. While usability testing our design with our drivers we realized that the map interface displaying priority stops along routes could be a safety hazard if the driver has to take quick looks at it while driving.  It also proved to be a huge distraction for the drivers and they were very reluctant to use it.
                    </p>

                    <p>The drivers also indicated that they were already aware and knowledgeable about different bus routes and streets.
                    </p>

        <h4>Design Modifications</h4>

        <p>
            Based on our usability test results, we made the following design changes
        </p>
        <ul class="bullets">
            <li> A bluetooth enabled voice interface instead of a visual interface for safe communication with the drivers.</li>

            <li>A brief animated introduction to the autonomous prioritization system on the passenger’s interface to provide a context to the bus riders.</li></ul>



        <h4>Wireframe of passenger's mobile interface</h4>

        <img src="images/folio-imgs/ARTS/onboarding.png"   title="ARTS Wireframe" alt="Image of the wireframe of ARTS" />
        <img src="images/folio-imgs/ARTS/pages.png" class="full-width" title="ARTS Wireframe" alt="Image of the wireframe of ARTS" />
        <img src="images/folio-imgs/ARTS/Emergency.png" title="ARTS Wireframe" alt="Image of the wireframe of ARTS" />
        <div class="image-sub">Wireframe of Passenger's mobile interface</div>





        <p>Based on these modifications we would like to run further high fidelity usability tests on a focused community utilising one or two bus lines while a centrally controlled infrastructure optimises the autonomous bus prioritisation.

</p>
<p>
  This design is intended for current infrastructure that progresses into a better system in the coming years, eventually transitioning from specific autonomous functions like automated route-passenger prioritization system to semi-autonomous functions with autopilot and then to a fully autonomous self-driving system.
</p>
<!--<h4>Scope of the design</h4>
<img src="images/folio-imgs/ARTS/SCOPE.png" class="full-width" title="Scope" alt="Scope of the design" />-->

<h4>The Team</h4>
        <img src="images/folio-imgs/ARTS/teampic.jpg" class="full-width" title="Team Picture" alt="A Picture of the team." />
        <div class="image-sub">FROM LEFT: PHILIP BEGEL, PAVITHRA RAMAMURTHY(ME), Sanjana Mathur & Peggy Lu</div>

        <h4>What I Learned</h4>
        <ul class="bullets">
            <li>User experience designing is never a linear process and the users can help you validate your concept every step of the way
</li>
            <li>Ask questions, lots and lots of questions on every aspect of the problem space. Record these questions and work with your team to answer all of them throughout the design process. Then ask more questions.
</li>
<li>Design iteratively and be ready to chuck your ideas and go back to phase one if necessary.
</li>

<li>User testing such an elaborate concept proved very tricky. As a team, we needed to explore multiple ways in which we could test the entire experience. Using the available time cleaverly to test out each phase of the experience is something we need to improve on as a team.
</li>
        </ul>
    </div>
</div>
