<div class="banner">
    <div class="banner-image">
        <img src="images/folio-imgs/citibank/banner.png" alt="Citibank Redesign Banner" title="Citibank Redesign"/>
    </div>
    <div class="banner-text light-text">
        <div class="banner-title">Citibank Mobile Redesign</div>
        <div class="banner-tagline"></div>
    </div>
</div>

<div class="project-content">
    <div id="section-1">

        <div class="left">
        </div>

        <div class="right">
        </div>
    </div>

    <div id="section-2">

        <h3>This page is a work in progress!</h3>
        <p>
            Come back soon for more information on this project.
            In the mean time, <a href="https://www.behance.net/gallery/25086833/Citibank-India-Redesigned" target="_blank">click here</a> for a preview of this project on behance,
            or check out some of my other work <a href="/#Portfolio">here</a>.
        </p>

    </div>
</div>
