<div class="projtitle">
    <h5>Personal Work</h5>
</div><div class="banner">
    <div class="banner-image">
        <img src="images/folio-imgs/citibank/banner.png" alt="Citibank Redesign Banner" title="Citibank Redesign"/>
    </div>
    <div class="banner-text light-text">
        <div class="banner-title">Citibank Mobile Redesign</div>
        <div class="banner-tagline"></div>
    </div>
</div>

<div class="project-content">
    <div id="section-1">

        <div class="left">
            <div class="c01" id="the-problem">
            <h4>The Problem</h4>
            Citibank India app suffers from a lack of simplicity in user interaction. Each task is buried within a complex network of navigations giving rise to a tedious user experience.
            </div>

            <div class="c02" id="approach">
                <h4>Approach</h4>
                <p>User interviews, mind mapping and iterative usability testing.</p>
            </div>

            <div class="c05" id="projecttime">
                <h4>Project duration</h4>
                <p>2 Weeks of project time, at the end of which I prepared a design presentation, visual and motion design mockups.</p>
            </div>
        </div>

        <div class="right">
            <div class="c03" id="the-team">
                <h4>Approach</h4>
                <ul>
                    <li>User Interviews</li>
                    <li>Mind Mapping</li>
                    <li>Low Fidelity Wireframes</li>
                    <li>High Fidelity Mock Ups</li>
                    <li>Usability Testing</li>
                </ul>
            </div>
        </div>
    </div>

    <div id="section-2">

        <div class="image-grid">
            <div class="cols_66">
                <h3>Solution</h3>
                <p>
                    This new design aims to make the user interaction more fluid by making relevant information readily accessible to the user through a simple and intuitive experience.
                </p>
            </div>
        </div>

        <p>
            <img src="images/folio-imgs/citibank/wireframe.png" title="Wireframe" class="full-width" alt="Image of the wireframe" />
            <div class="image-sub">Wireframe of the re-designed interface</div>
        </p>

        <div class="image-grid">
            <div class="cols_66">
                <h4>My Process</h4>
                <p>
                    I took up this personal project during my free time when I was hunting for a good short term UX design project to work on. Back then Citibank was my primary account holder, and I always found myself struggling with their mobile interface. I continuously found myself lost between pages and unable to complete my tasks which are all the more frustrating when time is limited. I felt that the application could do much better for the user. The problem space was like an itch I had to scratch, and I was excited to see what I could come up with.
                </p>

                <h4>Understanding the users</h4>
                <p>
                    I began the process by talking to <strong>two sets</strong> of user groups ranging from ages of <strong>21 to 60.</strong>
                </p>
                <ul class="bullets">
                    <li>
                        The first set comprised of the CitiBank India application users, since I needed to validate my experience against the experiences of other users to get a better perspective on how the CitiBank interface was perceived.
                    </li>
                    <li>
                        The second set comprised of people who used other banking applications. Talking to this set of users helped me understand how users used banking applications and what their expectations were.
                    </li>
                </ul>

                <p>
                    I also dug through other banking applications that usually received good reviews and ratings on play store, to understand the pros and cons of their design decisions. This research provided me with a good base to start off from.
                </p>
            </div>
        </div>
        <div class="image-grid">
            <div class="cols_66">
        <h4>Turning the research</h4>
        <p>
            I synthesized my research through a round of mind mapping and drew specific insights that drove my design decisions for the application. I followed with several phases of sketching where I explored concepts and iterated on different ideas. I was experimenting with various possibilities of navigating through the interface, trying to simplify the actions taken to complete each task phase.
        </p>
    </div>
    </div>

        <div class="image-grid">
            <div class="cols_33">
                <a class="fluid" href="images/folio-imgs/citibank/citisketch.jpg">
                    <img src="images/folio-imgs/citibank/citisketch.jpg" title="Sketches image" alt="Image of sketches" /></a>
                <div class="image-sub">Rapid concept Sketches</div>
            </div>
        </div>

                <div class="image-grid">
                    <div class="cols_66">
                        <h4>First phase of validation</h4>
                        <p>
                            As the ideas began to take shape, I created several versions of user interaction flow sketches and tested user responses. I felt that involving the users during the preliminary concept phase would help me simplify the interactions and improve the quality of the experience. This activity helped me iterate actively during the testing process and helped me shape up the design.
                        </p>
                    </div>
                </div>

    <div class="image-grid">
        <div class="cols_66">
                <h4>Second phase of validation</h4>
                    <p>
                        The first phase of testing iterations led me to sketch a simpler set of navigations than before and helped me bring together a cleaner structure to the interface.
                    </p>
                    <p>
                        In the second phase of testing, I was looking to
                    </p>
                    <ul class="bullets">
                        <li>
                            Test the Navigation Drawer for crowding and overwhelming information
                        </li>
                        <li>
                            Transparency of the interface
                        </li>
                        <li>
                            Validate the ease of navigation between the pages
                        </li>
                    </ul>
        </div>
    </div>
            <div class="image-grid">
                <div class="cols_33">
                   <img src="images/folio-imgs/citibank/navdrawersketch.png" class="full-width" title="Navigation drawer" alt="Image of Navigation Drawer" />
                   <div class="image-sub">Navigation drawer</div>
                </div>
            </div>

            <div class="image-grid">
                <div class="cols_66">
                    <p>
                        I tested the usability of the interface again with <strong>two more users</strong> from which I drew more distinct design insights. I removed a couple of unwanted interactions and added collapsible functionalities to each primary task within the navigation drawer to keep it clean and easily viewable.
                    </p>
                </div>
            </div>



        <div class="image-grid">
            <div class="cols_66">
                <h4>Visualizing the design</h4>
            </div>
        </div>
        <div class="image-grid">
            <div class="cols_25">
               <img src="images/folio-imgs/citibank/Login.gif" title="Login image" alt="Image of Login Page Mockups" />
            </div>
            <div class="image-sub">Login Page motion design</div>
        </div>
               <div class="image-grid">
                   <div class="cols_66">
                       <p>
                           The user can login with their registered username and IPIN or use a secure pin for quick access to the app.
                        The numbers in the keypad are scrambled each time, adding an extra level of security from prying eyes
                                   </p>
                   </div>
               </div>

            <div class="image-grid">
                <div class="cols_25">
                 <img src="images/folio-imgs/citibank/account-page.png" title="Account page" alt="Image of Account page" />
             </div>
             <div class="cols_25">
                <img src="images/folio-imgs/citibank/navigation.png" title="Navigation" alt="Image of Login Navigations" />
            </div>
            <div class="cols_20">
               <img src="images/folio-imgs/citibank/navigatefull.png" title="Navigation" alt="Image of Login Navigations" />
           </div>
                <div class="image-sub">1st phase of interaction - Account Page and the Navigation Drawer</div>
            </div>

            <div class="image-grid">
                <div class="cols_25">
                    <img src="images/folio-imgs/citibank/transactions.png" title="Transactions" alt="Image of Transactions" />
                    <div class="image-sub">Transactions Page</div>
                </div>
                <div class="cols_25">
                    <img src="images/folio-imgs/citibank/transferfunds.png" title="Fund transfer" alt="Fund Transfers" />
                    <div class="image-sub">Funds Transfer Page</div>
                </div>
                <div class="cols_25">
                    <img src="images/folio-imgs/citibank/check-deposite.png" title="Quick cheque Deposit Page" alt="Cheque Deposit page" />
                    <div class="image-sub"> Quick cheque deposit page </div>
                </div>
            </div>
            <div class="image-grid">
                <div class="cols_66">
                    <p>
                        The red and blue symbols on the transaction page indicate debit and credit transactions. The colors show increase or decrease in the account balance. The intention of this was to communicate transaction activities to the user quickly.
                    </p>
                    <p>
                        The cheque deposit page was added as an extra feature to facilitate a quick and smooth transaction into the user account.
                    </p>
                </div>
            </div>

            <div class="image-grid">
                    <div class="cols_25">
                     <img src="images/folio-imgs/citibank/alert.png" title="Alert Feature" alt="Alert feature" />
                     <div class="image-sub"> Alert Feature </div>
                    </div>
            </div>
                    <div class="image-grid">
                        <div class="cols_66">
                            <p>
                                The alert feature was added for users to receive important account updates and reminders enabling them to be aware of account activities such as bill payment dues, rent payments, salary deposits and low account balances. This feature was a direct improvement from the previous iteration based on the results from the first round of testing.
                            </p>

                                    <p>
                                        As fun personal projects go, I was pretty proud of the progress I made with the design. My next step is to build a high-fidelity prototype to conduct usability tests with a larger user group and to study the effectiveness of the design.
                                    </p>
                                    <h4>What I Learned</h4>
                                    <ul class="bullets">
                                        <li> It is easy to fall back on your assumptions and personal preferences while designing an application you regularly use. The key is to separate that experience, compare it against the experiences of the larger user group and design for that.
                                        </li>
                                        <li>Creating beautiful experiences takes a good team work. But if you don't have a team working with you then users can help you fill that gap and explore the design possibilities.
                                        </li>
                                        <li>Feedback and criticism can come from anywhere and can help you make a huge leap in your design decisions.
                                        </li>
                                    </ul>
                        </div>
                    </div>
    </div>
</div>
