<div class="container fourkites">
    <div class="projtitle">
        <h5>Professional Work</h5>
    </div><div class="banner">
        <div class="banner-image">
            <img src="images/folio-imgs/fourkites/banner.png" alt="FourKites Visual Deisgn Banner" title="FourKites Visual Deisgn"/>
        </div>
        <div class="banner-text light-text">
            <div class="banner-title">FourKites Website Visual Design</div>
            <div class="banner-tagline"></div>
        </div>
    </div>
</div>

    <div class="container fourkites">
        <div class="project-content">
            <div class="section-2">
                <h3>FourKites</h3>
                <p>
                    FourKites is a logistics service provider in Chicago, IL, that enables real-time tracking between shippers and truck companies. They have their unique brand identity and client base. My job was to design the blog pages, the jobs section, and the contact page while ensuring consistency in the visual design throughout the website.
                </p>
                <h4>Blog Page</h4>
            </div>
        </div>
    </div>
        <p>
            <img src="images/folio-imgs/FourKites/blogpages.png" title="blogpages" class="full-width" alt="Image of the blogpages" />
        </p>
        <div class="container fourkites">
            <div class="project-content">
                <div class="section-2">
                    <p>
                        The blog pages match the visual style of the landing page. The blog categories are displayed above the posts  for easy filtering. Navigation between older and newer posts are placed at the bottom of the page for ease of transition to the next content once the post is read.
                    </p>
                    <h4>Jobs Page</h4>
                </div>
            </div>
        </div>
        <p>
            <img src="images/folio-imgs/FourKites/jobspage.png" title="jobpage" class="full-width" alt="Image of the jobspage" />
        </p>

        <div class="container fourkites">
            <div class="project-content">
                <div class="section-2">
                    <h4>Contact Page</h4> 
                </div>
            </div>
        </div>
        <p>
            <img src="images/folio-imgs/FourKites/Contact Page.png" title="contactpage" class="full-width" alt="Image of the contactpage" />
        </p>

        <div class="container fourkites">
            <div class="project-content">
                <div class="section-2">
                            <h4>What I Learned</h4>
                            <p>
                                <ul class="bullets">
                                    <li>
                                        It was intersting to work within the contraints of an existing visual style. I got to experiment with the design of the pages while utilising the visual elements of rest of the website.
                                    </li>
                                    <li>
                                        The constraint helped me understand how to compose unique layouts even within the bounds of an existing style of the brand.
                                    </li>
                                </ul>
                            </p>
                </div>
            </div>
        </div>
