<div class="projtitle">
    <h5>Academic Work</h5>
</div>
<div class="banner">
    <div class="banner-image">
        <img src="images/folio-imgs/thanksdoc/banner.png" alt="Thanks Doc Banner" title="Thanks, Doc!" />
    </div>
    <div class=banner-text>
      <div class="banner-title">ThanksDoc</div>
      <div class="banner-tagline">Know When you Make a difference</div>
    </div>
</div>

<div class="project-content">
<div id="section-1">
    <div class="left">
        <div class="c01" id="the-problem">
            <h4>The Problem</h4>
            <p>The public assumes doctors as leading a cut above average lives, whereas, in reality, most doctors are overworked, sleep-deprived and steeped in a work culture that demands that they suck it up and show no weakness. Young doctors, mainly resident doctors, work an average of 80 hours per week, at the expense of their own mental and physiological wellness to see their patients go home completely cured.</p>

            <p>Yet, there is no efficient way for them to receive timely feedback of a job well done directly from their patients. The current method of hospital service feedbacks is doused in a convoluted and impersonal form of survey system that doctors receive after several months. The lack of positive reinforcement negatively affects the performance and mental health of doctors.</p>
        </div>

        <div class="c02" id="approach">
            <h4>Approach</h4>
            <p>User interviews, field observation and participatory design.</p>
        </div>
        <div class="c05" id="projecttime">
            <h4>Project duration</h4>
            <p>3 Weeks of total project time. The deliverables included a design document, a slide deck with the project specifics using PRInCiPleS Framework and a PechaKucha Presentation.</p>
        </div>
    </div>

    <div class="right">
        <div class="c03" id="the-team">
            <h4>The Team</h4>
            <ul>
                <li>Pavithra Ramamurthy<em> - Team Facilitator and User Research</em></li>
                <li>Philip Begel<em> - Prototyping</em></li>
                <li>Sean Smith<em> - Concept Sketch and Design Documentation</em></li>
                <li>Anchal Aggarwal<em> - Usability Testing</em></li>
            </ul>
        </div>

        <div class="c04" id="my-role">
            <h4>My Role</h4>
            <p>I moderated the overall workflow of the team, led the user research process and the creation of the Pecha Kucha Presentation. All team members shared an equal amount of work on all parts of the design process.</p>
        </div>
    </div>
</div>

<div id="section-2">
    <h3>Solution</h3>
    <p><bigWord>ThanksDoc</bigWord> is a platform that robustly connects patients to their doctors to provide patient appreciation directly to the doctors in (near) real-time. The goal of ThanksDoc is to motivate doctors actively on a daily basis helping them relieve their mental pressures and tackle their challenging days in a happier state of mind.
    </p>

    <div class="image-grid">
        <div class="cols_50 image">
            <img src="images/folio-imgs/thanksdoc/gratitudeboard.png" title="ThanksDoc Gratitude Board" alt="Mockup of the ThanksDoc gratitude board."/>
        </div>
        <div class="cols_25 image">
            <img class="full-width" src="images/folio-imgs/thanksdoc/mobile1.png" title="ThanksDoc Email Message" alt="Mockup of the ThanksDoc Email Notification"/>
        </div>
        <div class="cols_25 image">
            <img class="full-width" src="images/folio-imgs/thanksdoc/mobile2.png" title="ThanksDoc Email Message" alt="Mockup of the ThanksDoc Email Notification"/>
        </div>
    </div>

    <div class="image-sub">ThanksDoc Gratitude Board and Email Mockups</div>


    <h4>Finding the Right User Group</h4>

    <p>We initially interviewed several doctors of different age groups, levels of expertise and experience to understand their work patterns based on the hierarchy within the medical field. Through these preliminary rounds of interviews, we were able to recognize resident doctors as the segment who operated under the highest amount of stress, longest work hours and sometimes sleepless nights. Our findings showed that this group was also highly volatile and susceptible to depression because they felt they ‘needed to prove themselves.'</p>

    <div class="quote">"Suicide is a huge issue among young doctors. Mental health, depression, burnout, and stress are very real. Last year, two med students killed themselves." <span class="quote-sub">- P1, 1st Year Resident Surgeon [User Interview]</span></div>

    <h4>Finding the Main Problem</h4>

    <p>After several rounds of interviews, we engaged in a rigorous exercise of mind mapping of our research data where we recognized recurrent themes in pain points that were prevalent in the young resident doctors. There were several problematic areas, but we were trying to find factors that mainly affected the mental happiness of doctors. The question we kept going back to was</p>

    <p class="quote">“What caused the doctors to burn out the way they did so frequently?”</p>

    <img src="images/folio-imgs/thanksdoc/mindmap.png" class="full-width" title="MindMap Whiteboard" alt="Image of our mind mapping exercise on a whiteboard"/>

    <div class="image-sub">Mind Mapping our Research Data</div>

    <p>Mind Mapping helped us make sense of our research and derive insights that would focus our design.</p>

    <p>In the beginning, we explored the various insights and tried to decide on what problem needed our attention the most. There were several different problems, and we had different design ideas that could potentially solve them. We felt like we were caught in a vicious loop of self-interest and decided to take a step back. We engaged in another set of user interviews with more doctors from our target user group, during which we were able to validate some of our design ideas. We gained a clearer perspective and were then able to hash some of our ideas and develop others.</p>

    <p>The key insight that we gained was that the success of patient care is directly related to the mental health of a doctor. A doctor’s satisfaction, motivation and happiness depend on knowing that they are making a difference in people’s lives through their efforts.</p>

    <p>We jumped into a round of quick Round Robin Sketching where we explored different ways in which we could bring patient appreciations directly to the doctors. By the end of the sketching round, we had a variety of different approaches using artifacts, wearables and even embedded technology. They all seemed well thought out, creative and computer imaginative, but we weren’t sure if we were working within the constraints of convenience and accessibility for doctors.</p>

    <div class="quote">Why, how and when would they use these? Were they non-intrusive and easily accessible? Were they effective?</div>

    <p>These were big questions we needed to answer. We could do an elaborate usability test of course, but we didn’t feel quite ready yet.</p>

    <h4>Help of the Experts</h4>

    <p>We took our design sketches and visited the Bloomington Hospital in downtown Bloomington, Indiana. With their permission, we observed the ER doctors as they worked, visited the doctors’ rooms, their lounge, and their workstations that they use to discuss patient progress and file documentation. We spoke to the Director of ER, about life in ER as a resident doctor and involved few of the ER doctors in an active session of design ideation to get an idea about the most accessible technologies for doctors.</p>

    <p>This opened our eyes to different ways in which doctors could easily interact with technology without losing too much of their working time. Our goal was to embed the positive experience into their daily lives without having to take any time out of their actual work life. We understood how an average day works for doctors, at what point can we embed the interaction for it to work transparently even when doctors have their hands full.</p>

    <p>We identified the doctor's common workstation as the best place to embed our experience at Bloomington Hospital. We then used our persona Dr. Dev Gupta, a first year attending physician at Bloomington Hospital to help us build a narrative of the experience.</p>

    <p>The first part of the experience would involve a well placed, optimal sized gratitude board that rotates the day’s appreciation messages to the doctors or a team of doctors which can be passively viewed even from a distance, without violating HIPPAA regulations and rules. The gratitude board aims to encourage, motivate and promote team bonding and community celebration between doctors since a team of doctors are actively involved in individual patient care.</p>

    <img src="images/folio-imgs/thanksdoc/viewboard.jpg" title="Appreciation Messages Display on ThanksDoc Gratitude Board" alt="Doctors viewing ThanksDoc gratitude board"/>
    <div class="image-sub">APPRECIATION MESSAGES DISPLAY ON THANKSDOC GRATITUDE BOARD</div>


    <div class="reference">HIPPAA is a federal law that makes it easier for people to have health insurance, protect the confidentiality and security of healthcare information and help the healthcare industry control administrative costs.</div>

    <p>The second part of the experience directs the appreciation messages from patients to the doctor’s personal email addresses where it is stored separately as ThanksDoc messages that the doctors can view at their discretion.</p>

    <img src="images/folio-imgs/thanksdoc/viewemail.jpg" title="ThanksDoc Email Notification" alt="Image of ThanksDoc email notifications"/>

    <div class="image-sub">VIEW THANKSDOC MESSAGES VIA EMAIL</div>

    <p>We conducted some preliminary interface usability tests using paper prototypes to validate the ease of use of the interface and iterated our design based on the observations.</p>

    <p>We then created a high-fidelity prototype and conducted more usability tests for all the phases, the gratitude board and the email interactions (mobile and desktop) of the application.</p>

    <h4>High Fidelity Prototype</h4>

    <div class="prototypes">
        <div class="frameWrapper inv-td-board hidden-tablet hidden-phone">
            <iframe style="" width="662" height="1030" src="//invis.io/P89V3BTFY" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="frameWrapper inv-td-mobile hidden-tablet hidden-phone">
            <iframe  style="" width="438" height="930" src="//invis.io/7N9V2N5V2" frameborder="0" allowfullscreen></iframe>
        </div>

        <div class="image-grid visible-phone visible-tablet">
            <div class="cols_50">
                <a href="https://invis.io/DU9V3BSXB" target="_blank"><img src="images/folio-imgs/thanksdoc/gratitudeboard.png" title="ThanksDoc Board Prototype" alt="Link to ThanksDoc Board Prototype"/></a>
                <a class="button" target="_blank"href="https://invis.io/DU9V3BSXB">Open Prototype</a>
            </div>
            <div class="cols_50">
                <a href="https://invis.io/SY9V2MTRH" target="_blank"><img src="images/folio-imgs/thanksdoc/mobile1.png" title="ThanksDoc Mobile Prototype" alt="Link to ThanksDoc Mobile Prototype"/></a>
                <a class="button" target="_blank" href="https://invis.io/SY9V2MTRH">Open Prototype</a>
            </div>

        </div>
    </div>

<p>Our next step would be to install the prototype inside the common workspace of the doctors to test the efficiency of our design over a period.</p>


<h4>HOW WE PLAN TO COMPLETE THE DESIGN</h4>
<p>Study the system effects, iterate on the system and advertise the results. </p>
<bold>Full System Design</bold>
<ul>
    <li>The process by which emails are sent out to providers from patients who respond.</li>
    <li>The process by which patients receive emails that link them to ThanksDoc.</li>

</ul>

<p>Evaluate designs and iterate based on long-term usability studies using high fidelity prototypes.</p>

<h4>The Team</h4>
<img src="images/folio-imgs/thanksdoc/teampic5.jpg" class="full-width" title="Team Picture" alt="A Picture of the team."/>
<div class="image-sub">FROM LEFT: PHILIP BEGEL, PAVITHRA RAMAMURTHY(ME), SEAN SMITH & ANCHAL AGGARWAL</div>

<h4>What I Learned</h4>
<ul class="bullets">
    <li>The expertise of the users could be the key to reshaping your design solution.</li>
    <li>User Research is not a framework. We need to be ready to explore a variety ways to know our users and their lives deeply. Shadowing them and becoming their comrades is a start.</li>
</ul>

</div>
</div>
