<div class="projtitle">
    <h5>Academic Work</h5>
</div>
<div class="banner">
    <div class="banner-image">
        <img src="images/folio-imgs/yelpy/banner.png" alt="Yelpy Banner" title="Yelpy"/>
    </div>
    <div class="banner-text light-text">
        <div class="banner-title"></div>
        <div class="banner-tagline">A Conversational UI Bot</div>
    </div>
</div>

<div class="project-content">
    <div id="section-1">
        <div class="left">
            <div class="c01" id="the-problem">
                <h4>The Problem</h4>
                <p>Preliminary research shows that Yelp’s current method of presenting reviews and ratings on partner sites such as BtownMenus is tedious and ineffective. Yelp’s presence itself is diminished and irrelevant to the users in the way in which it is currently incorporated on the site. There is a need to emphasize Yelp’s relevance on the partner site and to make the reviews and ratings more easily accessible and relevant.</p>
            </div>

            <div class="c02" id="approach">
                <h4>Approach</h4>
                <p>User interviews, affinity diagramming, paper prototyping and usability testing.</p>
            </div>

            <div class="c05" id="projecttime">
                <h4>Project duration</h4>
                <p>2 Weeks of total project time. The deliverables included a design document, a presentation deck and an iterations document.</p>
            </div>
        </div>


        <div class="right">
            <div class="c03" id="the-team">
                <h4>The Team</h4>
                <ul>
                    <li>Pavithra Ramamurthy</li>
                    <li>Sean Smith</li>
                    <li>Nicole Anicetti</li>
                    <li>Vikas Jangam</li>
                </ul>
            </div>
            <div class="c04" id="my-role">
                <h4>My Role</h4>
                <p>As the team facilitator, I moderated the workflow of the team and supervised the design process as a whole.</p>

                <p> That being said, every team member shared an equal amount of work during every stage of the design process.</p>
            </div>
        </div>
    </div>

    <div id="section-2">
        <h3>Solution</h3>
        <p>
            <bigWord>Yelpy, the food expert</bigWord> is a conversational UI bot that provides food choices to its users based on Yelp’s reviews and ratings. It also leverages machine learning capabilities to study user behaviour and provide personalised recommendations. In this design Yelpy is integrated into BTownMenus, a local food delivery service application based in the college town of Bloomington, Indiana. </p>

            <h4>High Fidelity Prototype</h4>
                <div class="prototypes">
                <div class="frameWrapper inv-ypy-mobile">
                <iframe style="" width="438" height="930" src=https://invis.io/ASA19TVKQ frameborder="0" allowfullscreen></iframe>
                </div>
                </div>

<h4>The beginning</h4>
<p>
  The design prompt that we were given asked us to explore alternatives to Yelp’s current method of providing ratings and reviews using a conversational UI. Our goal was to improve the experience of the user when they’re looking for something to eat on BTownMenus.com.</p>

<p>
    BTownMenus is a popular local delivery service in Bloomington, Indiana that links restaurants which particularly appeal to college students with late-night delivery services.
</p>

        <h4>Whom we spoke to</h4>

        <p>We began by trying to understand how users currently used BTownMenus and whether they found BtownMenus’ current yelp reviews feature to be helpful.</p>
        <p>
          Through our initial research, we gathered that Indiana University’s <bigWord>graduate</bigWord> and <bigWord>undergraduate</bigWord> students made up a huge portion of BTownMenu’s <bigWord>primary users</bigWord>. Our goal was to understand if they ever utilized Yelp reviews, and when they found the need to use them. We conducted scripted interviews with 13 of our users about their experiences, their motivations and their process of using BTownMenus and Yelp reviews. Using a casual conversational tone we asked them questions about their process and decisions that motivated them in ordering their food choices online.
        </p>
        <p>We created mind maps and visually represented our research to make sense of all the data and view clear patterns of use cases within them.
      </p>
      <img src="images/folio-imgs/yelpy/mindmap.png" title="mindmap" class="full-width" alt="Image of our Mind Mapping" />
      <div class="image-sub">Mind Mapping of our Research Data</div>

          <p>
            Based on our mind map we drew several <bigWord>insights</bigWord> on what the users required and how we can use Yelp’s data to improve their food ordering experience.
          </p>
          <ul class="bullets">
            <li>Most of the users did not use Yelp reviews because they found Yelp tedious to use, or were not aware of its presence on the site.</li>
            <li>Users would be more likely to trust suggestions from other customers over the restaurant or business’ suggestions. Some users were skeptical about restaurant recommendations thinking they had some sort of business motive.
</li>
            <li>Users care about quality. Seeing a review will give them a first-person perspective on the food experience of a restaurant.</li>
            <li>The current integration of Yelp’s reviews on BTownMenus is inconspicuous and convoluted. Due to this the relevancy has dropped.
</li>
          </ul>

<p>Our goal became very clear. We needed to make Yelp more relevant and noticeable, and we needed do it in a transparent way.
</p>

<p>Our primary user research provided a good insight about our target users. We gained an understanding about their background, lifestyle, activities and behaviour. Based on our study, we came up with two personas who represented the full range of our target demographic and drove our design decisions and helped build specific use cases.
</p>

<div class="image-grid">
    <div class="cols_50">
        <img src="images/folio-imgs/yelpy/mattpersona.png" class="full-width" title="Matt Persona" alt="Image of Matt"/>
        </div>
        <div class="cols_50">
            <img src="images/folio-imgs/yelpy/meganpersona.png" class="full-width"  title="Megan Persona" alt="Image of Megan"/>
            </div>
</div>

        <h4>What we did</h4>

    <p>The prompt gave us a very specific constraint to solve this problem using a conversational UI. We took to the whiteboard and began by discussing different approaches that we could take. We went through several rounds of design sketching and ideation where we explored multiple ways in which we could design a solution using a conversational bot.</p>
<div class="image-grid">
    <div class="cols_25">
        <img src="images/folio-imgs/yelpy/sketch1.jpg" class="full-width" title="sketching" alt="Image of the team sketching"/>
        </div>
        <div class="cols_25">
            <img src="images/folio-imgs/yelpy/sketch2.JPG" class="full-width"  title="sketching" alt="Image of the team sketching"/>
            </div>
            <div class="cols_25">
                <img src="images/folio-imgs/yelpy/sketch3.JPG" class="full-width" title="sketching" alt="Image of the team sketching"/>
                </div>
        <div class="image-sub">Ideation</div>
</div>

      <p>
        We came up with ‘Yelpy’, our food expert who would provide popular reviews through a conversation, while passively studying user behaviour and providing better recommendations over time. He would have to be a non-intrusive bot to avoid overstepping the user boundaries, while still being able to encourage people to have a conversation. Our main focus was to make sure that Yelpy behaves as an effective tool in helping users find and choose better food quicker, and more easily without any limitations.
      </p>

      <div class="storyboard">
          <h4>Storyboard of the User Interaction</h4>
      <div class="cols_33">
       <img src="images/folio-imgs/yelpy/matt.png" class="full-width" title="storyboard" alt="Image of the storyboard"/>
       </div>
       <div class="cols_33">
        <img src="images/folio-imgs/yelpy/matt2.png" class="full-width" title="storyboard" alt="Image of the storyboard"/>
        </div>
        <div class="cols_33">
         <img src="images/folio-imgs/yelpy/matt3.png" class="full-width" title="storyboard" alt="Image of the storyboard"/>
         </div>
       <div class="image-sub">Storyboard I created to visualise the user interaction</div>
       </div>
<br>
<p>
  <strong>The key factors we explored with our design were:</strong>
</p>
<ul class="bullets">
  <li>The conversational style in which Yelpy would interact with its users.</li>
<li>Where, when and how Yelpy would be integrated into BTownMenus.</li>
</ul>
            <div class="image-grid">
                <div class="cols_75">
            <p>
                <strong>Based on our secondary research on effective incorporation of a conversational UI as a tool, we designed Yelpy with very specific capabilities.</strong>
            </p>
                <ul class="bullets">
                        <li>We generated a variety of ideas for the conversation flow and explored different personality traits for our bot.</li>

                        <li>We gave a specific focus to the language style that Yelpy would use to enable the users to identify and connect comfortably with him.</li>

                        <li>We placed a predetermined delay between each of Yelpy’s responses to make him feel more real to the users.</li>

                        <li>We limited the number of Yelpy’s suggestions within each conversational phase to avoid overwhelming the users and to keep the experience clean.</li>

                        <li>We also constrained Yelpy's recommendations to the current restaurant page that users are viewing unless he runs out of popular recommendations in that restaurant or to support a particular dietary need.</li>

                        <li>Yelpy recognizes when users add food choices from multiple restaurants to their carts, and he provides a heads up to avoid confusion among users.</li>
                    </ul>
            </div>
            <div class="cols_25">
                <img src="images/folio-imgs/yelpy/conv.png" title="Interface" alt="Image of Yelpy's interface" />
                <div class="image-sub">Yelpy's Interface</div>
            </div>
        </div>
    <div class="image-grid">
            <div class="cols_25">
                <img src="images/folio-imgs/yelpy/navigate1.png" title="Navigate" alt="Image of Yelpy's search case suggestions" />
            </div>
                <div class="cols_25">
                    <img src="images/folio-imgs/yelpy/navigate2.png" title="Navigate" alt="Image of Yelpy's search case suggestions" />
                </div>
            <div class="image-sub">Yelpy's recommendations</div>
    </div>


         <div class="image-grid">
             <div class="cols_75">
                  <p>All  conversations with Yelpy are in the form of <bigWord>pre-programmed clickable responses</bigWord>. We made this design choice based on the following factors that we validated through user testing and interviews.</p>
                <p>
                <ul class="bullets">
                  <li>
                    Our secondary research suggested that clickable texts are always more accessible than open ended text conversations
                  </li>
                  <li>
                    Pre-determined options allow for faster response time, thus making the conversation more structured
                  </li>
                  <li>
                    Limited size of the mobile screen does not always invite easy texting
                  </li>
                  <li>
                    We designed our interface such that the conversations can always be lead with a simple “yes”, “no” or “what else”
                  </li>
                </ul>
                </p>
             </div>
            <div class="cols_25">
            <img src="images/folio-imgs/yelpy/cart.png" title="Multiple items" alt="Image of Multiple items cart" />
            <div class="image-sub">Yelp's warning message when multiple items are in Cart</div>
            </div>
        </div>

<p>
<strong>Integration of Yelpy into BTownMenus:</strong>
</p>


        <p>We changed the original layout of BtownMenus’ mobile app to bring more emphasise on Yelpy. We chose to redesign the top navigation bar to remove redundant features and utilize easily recognizable icons.</p>

            <div class="image-grid">
                <div class="cols_75">
                    <img src="images/folio-imgs/yelpy/btownmenu.png" class="full-width" title="BTown Menu" alt="Image of Yelpy's integration into BTown Menus" />
                                <div class="image-sub">Yelpy's integration into BTown Menus</div>
                </div>
            </div>

            <p>
                 We wanted to provide the users with an accurate and condensed summary of the reviews on Yelp through the ease of quick messages. Yelpy also uses machine learning techniques to remember user preferences and recommend better suggestions to the users (i.e. dietary restrictions). </p>

          <h4>Usability Testing yelpy</h4>
<p>
    We created several low fidelity paper prototypes of Yelpy’s UI interactions, to test the usability of the design with the users.</p>

    <p>
        <ul class="bullets">
          <li>
              Effectiveness of the language and communication with the users.
          </li>
          <li>
              Efficiency of Yelpy during edge case scenarios such as dietary restrictions and during zero search results.
          </li>
          <li>
            Unobtrusiveness of Yelpy’s pop up feature.
          </li>
          <li>
            User’s responses to receiving recommendations from Yelpy.
          </li>
          <li>
            Ease of use of the chat interface and the experience of its integration within BTownMenus’ app.
          </li>
        </ul>
    </p>
    <div class="image-grid">
      <div class="cols_33">
        <img src="images/folio-imgs/yelpy/prototype.png" title="prototype" alt="Image of a user interacting with the prototype" />
      </div>
       <div class="cols_33">
         <img src="images/folio-imgs/yelpy/prototype2.png" title="prototype" alt="Image of a user interacting with the prototype" />
       </div>
      <div class="cols_33">
         <img src="images/folio-imgs/yelpy/prototype3.png" title="prototype" alt="Image of a user interacting with the prototype" />
      </div>
      <div class="image-sub">User interacting with the paper prototypes</div>
    </div>


        <div class="image-grid">
            <div class="cols_66">
                <p>
                    We conducted task based usability tests and used the ‘think out loud’ protocol to test the experience of our design. I operated the interactive elements of the paper prototype while two of my teammates observed the test in progress and took notes. Another teammate video recorded the test. At the end of the test we asked the users several questions regarding their experience using the interface.
                </p>

                <p>We conducted <bigWord>usability tests</bigWord> on a total of 4 students, three of whom were undergraduates aging between 20 and 21 and a Ph. D graduate student who was 25 years old.</p>

                <p>
                     We studied the test results, mapped out the design recommendations and made more changes to our design.
                </p>
            </div>
            <div class="cols_33">
               <img src="images/folio-imgs/yelpy/iterations.jpg" title="iterations" alt="Image of iterations" />
               <div class="image-sub">Iterations board with design recommendations</div>
            </div>
        </div>


<h4>The Team</h4>
        <img src="images/folio-imgs/yelpy/teampic.jpg" class="full-width" title="Team Picture" alt="A Picture of the team." />
        <div class="image-sub">FROM LEFT: PAVITHRA RAMAMURTHY(ME), Nicole Anicetti, Vikas Jangam & Sean Smith</div>

        <h4>What I Learned</h4>
        <ul class="bullets">
            <li>All the information you would need to completely understand a platform can be gained through its users.
</li>
            <li>There are several approaches and directions that we could take to solve a problem, but the key is to recognize the one idea that has the most potential.
</li>
<li>It takes dedicated team work and an open mind to testing out ideas iteratively to successfully design an ideal solution.
</li>
<li>Designing a conversational interface could easily become complex unless you are ready to embrace the constraints and focus on that one main problem that you need your design to solve in the simplest possible way.
</li>
        </ul>
    </div>
</div>
