//-----------------------------------------------
// Color Palette
//-----------------------------------------------

$black      : #373D3F;
$white      : #ECEFF1;
$grey       : #444444;
$red        : #C2433E;
$brand-pink : #d88683;

// Project Specific
$td-blue    : #53C0CC;
$td-green   : #00FF89;

$arts-pink  : #E80277;
$arts-prpl  : #5F108E;

$yelp-red   : #C41200;
$yelp-red2  : #8A1003;

$citi-blue  : #120C5A;
$citi-red   : #EC1C23;

$fourkites-yellow   : #f8c137;
$fourkites-blue     : #005b7f;
// Social Icons
$twitter    : #28AAE2;
$facebook   : #3C5A98;
$email      : #DD4B38;
$linkedin   : #047CB7;
$dribbble   : #ea4c89;
$behance    : #40BFEF;
$px500      : #0099e5;

//-----------------------------------------------
// Sizes and Widths
//-----------------------------------------------

$container-width-mob: calc(100% - 20px);
$container-width-tab: calc(100% - 60px);
$container-width    : calc(100% - 60px);

//-----------------------------------------------
// Typography
//-----------------------------------------------

// Google Fonts Import
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i|Unica+One');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');


// Font Variables
$unica: 'Unica One', 'Helvetica Neue', Helvetica, sans-serif;
$lato : 'Lato', 'ubuntu', 'Helvetica Neue', Helvetica, sans-serif;
$opensans : 'Open Sans', sans-serif;

// Weight Variables
$reg  : 400;
$bold : 700;
