@charset "UTF-8";
/*


Vendor Files - Remember to rename these from *.css to *.scss before adding here. */
@import "vendor/normalize";
/*


Your Files Go Here*/
@import "components/variables";
@import "components/responsive";
@import "components/global";


.top-nav.hidden-phone {
    background: rgba(0,0,0,0.1);
    border-radius: 0 0 4px 0;
}
/*
border-bottom: 2px solid $grey;
border-right: 2px solid $grey;
*/

body{
    background-color: black;
}

.pav_logo .logo{
    fill: white;
    stroke: white;
}

.controls {
    text-align: center;
    padding-top: 10px;
    @include breakpoint(laptop) {
        padding-top: 30px;
    }

    button {
        display: inline-block;
        background: black;
        border: 0;
        margin: 0 0 2%;
        color: white;
        font-family: $unica;
        font-weight: 400;
        font-size: 24px;
        padding: 1em 2em 2em;
        border-radius: 5px;
        cursor: pointer;
        outline: 0 none;
        text-transform: uppercase;
    }
}

#grid {
    width: 100%;
    display: block;
    background-color: black;
    .mix, .grid-sizer {
        float:left;
        width: calc(50% - 4px);
        margin: 0 2px;
        padding: 0;
        cursor: pointer;

        @include breakpoint(tablet){
            width: calc(25% - 4px);
        }

        @include breakpoint(laptop){
            width: calc(20% - 4px);
        }

        img {
            width: 100%;
            height: auto;
            border-radius: 2px;
        }
    }

    .width-2{
        width: calc(100% - 4px);

        @include breakpoint(tablet){
            width: calc(50% - 4px);
        }

        @include breakpoint(laptop){
            width: calc(40% - 4px);
        }
    }
    
}

/*


FluidBox Styles */

.fluidbox__overlay {
    background-color: hsla(0,0%,0%,.85);
}

.fluidbox__ghost, .fluidbox__wrap {
    padding:0;
    margin: 0;
}
