@charset "UTF-8";
/*


Vendor Files - Remember to rename these from *.css to *.scss before adding here. */
@import "vendor/normalize";
/*


Your Files Go Here*/
@import "components/variables";
@import "components/responsive";
@import "components/global";

// Project Specific Changes
.container.thanksDoc {
    .banner-image, .button {
        background-color: $td-green;
    }

    h3,
    h4 {
        color: $td-blue;
    }
}

.container.arts {
    .banner-image, .button {
        background-color: $arts-pink;
    }

    h3,
    h4 {
        color: $arts-prpl;
    }
}

.container.yelpy {
    .banner-image, .button {
        background-color: $yelp-red;
    }

    h3,
    h4 {
        color: $yelp-red;
    }
}

.container.citibank {
    .banner-image, .button {
        background-color: $citi-blue;
    }

    h3,
    h4 {
        color: $citi-red;
    }
}

.container.fourkites {
    .button {
        background-color: $fourkites-yellow;
    }
    .banner-image{
        background: $fourkites-yellow url("../images/folio-imgs/FourKites/tile.png") repeat right top;
    }

    h3,
    h4 {
        color: $fourkites-blue;
    }
}


.project {
    .container {
        padding-top: 60px;
        @include breakpoint(laptop) {
            padding-top: 0;
        }
        /*projtitle styles */
        .projtitle{
            h5{
                color: $grey;
                font-family: $unica;
                text-transform: uppercase;
                padding: 60px 0 20px;
                margin: 0;
                text-align: center;
                font-weight: lighter;
                letter-spacing: 2px;

                @include breakpoint(laptop){
                    padding: 20px 0 20px;
                }
            }
        }
        /*
        Banner Styles */
        .banner {
            position: relative;
            margin: 0 auto;

            .banner-image {
                height: 350px;
                position: relative;

                img {
                    padding: 40px;
                    max-height: 200px;
                    margin: auto;
                    display: block;
                    max-width: calc(100% - 80px);
                }
            }

            .banner-text {
                text-align: center;
                width: 100%;
                position: absolute;
                bottom: calc(24px + 20px);

                .banner-title {
                    font-family: $lato;
                    font-size: 1.6em;
                    font-weight: $bold;
                    padding-bottom: 8px;
                }

                .banner-tagline {
                    font-family: $unica;
                    text-transform: uppercase;
                    font-size: 1.25em;
                    opacity: 1;
                    line-height: 1.4;
                }
            }

            .light-text {
                color: $white;
            }
        }
        /*


        Project Content Styles */
        .project-content {
            padding-top: 30px;

            .button{
                font-family: $unica;
                text-transform: uppercase;
                border: none;
                padding: 10px 20px;
                border-radius: 2px;
                transition: 0.2s all ease-in-out;
                color: black;
                box-shadow: 0px 2px 5px #DDD;
            }

            #section-1 {
                margin: 0 auto;
                display: flex;
                align-items: flex-start;
                flex-flow: row wrap;
                // width: %;
                font-size: 0.95em;
                width: 90%;
                @include breakpoint(tablet) {
                    width: 100%;
                }

                .left {
                    width: 100%;
                    padding-right: 0;
                    @include breakpoint(tablet) {
                        width: calc(70% - 30px);
                        padding-right: 30px;
                    }
                }

                .right {
                    width: 100%;
                    @include breakpoint(tablet) {
                        width: 30%;
                    }
                }

                & > * {
                    line-height: 1.5;
                    color: $grey;

                    h4 {
                        font-family: $unica;
                        text-transform: uppercase;
                        font-size: 1.1em;
                        letter-spacing: 2px;
                        margin: 12px 0 6px;
                    }

                    p {
                        margin: 6px 0;
                    }

                    ul {
                        list-style: none;
                        padding: 0;

                        li {
                            margin-bottom: 8px;

                            em {
                                color: $black;
                            }
                        }
                    }
                }
            }

            #section-2, .section-2 {
                margin: 0 auto;
                width: 95%;
                font-size: 1em;
                letter-spacing: .03em;
                line-height: 2em;

                bigWord {
                    font-size: 1.2em;
                    font-weight: $bold;
                    color: $black;
                }

                .bullets{
                    color: $grey;
                }

                bold {
                    font-weight: $bold;
                }

                h3 {
                    font-family: $lato;
                    text-transform: uppercase;
                    text-align: center;
                    font-size: 1.4em;
                    letter-spacing: 2px;
                }

                h4 {
                    font-family: $unica;
                    text-transform: uppercase;
                    font-size: 1.2em;
                    letter-spacing: 2px;
                    margin: 20px 0 6px;
                    text-align: left;
                }

                p {
                    font-size: 1em;
                    color: $black;
                    font-family: $opensans;
                }

                strong{
                    color: $grey;
                }

                img {
                    display: block;
                    max-width: 60%;
                    margin-top: 12px;
                    border-radius: 4px;
                    margin: 0 auto;

                    &.full-width {
                        max-width: 100%;
                    }
                }

                .image-sub {
                    font-size: 0.95em;
                    font-family: $unica;
                    text-transform: uppercase;
                    text-align: center;
                    color: $grey;
                    margin: 12px 0 24px;
                }

                .image-grid {
                    padding: 0;
                    text-align: center;

                    p {
                        text-align: left;
                    }
                    @include breakpoint(laptop) {
                        padding: 15px 0 0;
                    }
                    .cols_20,
                    .cols_25,
                    .cols_33,
                    .cols_50,
                    .cols_66,
                    .cols_75 {
                        vertical-align: middle;

                        img {
                            width: calc(100% - 24px);
                            max-width: 100%;
                            height: auto;
                            padding: 12px;
                        }
                    }

                    .image-sub {
                        margin: 12px 0;
                    }
                }

                .reference {
                    color: $grey;
                    font-size: 0.8em;
                    font-style: italic;
                }

                .quote {
                    color: $red;
                    font-style: italic;
                    font-size: 1.3em;
                    margin: 30px 60px;
                    text-align: center;

                    .quote-sub {
                        display: block;
                        font-size: 0.7em;
                        font-style: normal;
                        color: $black;
                        text-align: right;
                        padding-top: 10px;
                    }
                }

                ul {
                    list-style: none;
                    margin-top: 0;
                    text-align: left;

                    &.bullets {
                        list-style: disc;

                        li {
                            padding: 10px;
                        }
                    }
                }

                .prototypes {
                    height: 300px;
                    display: flex;

                    @include breakpoint(phone-md){
                        height: 400px;
                    }
                    @include breakpoint(tablet){
                        height: 700px;
                    }

                    .frameWrapper {
                        display: inline;
                        width: 50%;

                        &.inv-td-board {
                            transform: scale(0.7);
                            transform-origin: 0 0 0;
                            width: auto;
                        }

                        &.inv-td-mobile {
                            width: auto;
                            transform: scale(0.7);
                            transform-origin: 0 0 0;
                            position: relative;
                            right: 15%;
                        }

                        &.inv-ypy-mobile {
                            width: auto;
                            transform: scale(0.7);
                            transform-origin: 50% 0 0;
                            margin: 0 auto;
                        }
                    }

                    .image-grid{
                        height: auto;
                        width: 100%;
                        padding-bottom: 20px;

                        .cols_50{
                            height: 100%;
                            @include breakpoint(phone-md){
                                height: 100%;
                                width: calc(50% - 4px);
                            }
                            @include breakpoint(tablet){
                                height: 100%;
                            }

                            a img{
                            height: 80%;
                            width: auto;
                            }
                        }
                    }
                }
            }
        }
    }
    /*


    Project Page Footer Styles */
    .project-footer {
        width: 100%;
        padding: 40px 0;

        .container {
            max-width: 680px;

            .footer-proj-nav {
                padding: 40px 0;
                height: 200px;
                display: flex;
                justify-content: center;

                .proj-nav {
                    .proj-prev {
                        @include breakpoint(tablet) {
                            transform: translateX(12px);
                        }
                    }

                    .proj-next {
                        @include breakpoint(tablet) {
                            transform: translateX(-12px);
                        }
                    }

                    .proj-next,
                    .proj-prev {
                        display: block;
                        width: 25%;
                        height: 100%;
                        min-width: 200px;
                        transition: 0.2s all ease-in-out;
                        position: relative;

                        &:hover {
                            transform: translateX(0px);
                        }

                        .project-image {
                            width: 100%;
                            display: block;
                            height: 100%;
                            background-size: cover;
                            background-position: center;
                        }

                        .proj-title {
                            color: $white;
                            text-decoration: none;
                            font-family: $unica;
                            text-transform: uppercase;
                            letter-spacing: 1px;
                            font-size: 1.2em;
                            text-align: center;
                            position: absolute;
                            width: 100%;
                            padding-top: 10px;
                            transition: 0.2s all ease-in-out;
                            bottom: 10px;
                            @include breakpoint(tablet) {
                                transform: scale(0.9);
                                opacity: 0;
                                bottom: -32px;
                                color: $black;
                            }
                        }

                        &:hover {
                            // proj-prev,proj-next

                            .proj-title {
                                opacity: 1;
                                transform: scale(0.95);
                            }
                        }
                    }
                }

                .proj-gap {
                    width: 50%;
                    position: relative;
                    flex-grow: 3;

                    img {
                        height: 96px;
                        position: absolute;
                        margin: auto;
                        left: 0;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        opacity: 0.2;
                    }
                }
            }

            .footer-sec-nav {
                display: flex;
                height: 96px;
                justify-content: center;

                .home:after {
                    content: 'Home';
                }

                .gallery:after {
                    content: 'Gallery';
                }

                .resume:after {
                    content: 'Resume';
                }

                .icon {
                    width: 96px;
                    margin: 0 34px;
                    padding: 24px 0;
                    text-align: center;
                    display: block;
                    position: relative;
                    transition: 0.2s all ease-in;

                    &:after {
                        display: block;
                        position: absolute;
                        width: 100%;
                        transform: translateY(0px);
                        opacity: 0;
                        transition: 0.2s all ease-in;
                        color: $black;
                        padding: 5px 0;
                        border-radius: 4px;
                    }

                    &:hover {
                        transform-origin: bottom right;
                        transform: translateY(-8px);

                        &:after {
                            transform: translateY(3px);
                            opacity: 0.8;
                        }
                    }

                    svg {
                        height: 100%;
                    }
                }
            }
        }
    }
}

.container.aboutMe {
    .banner {
        padding-top: 30px;

        .banner-image {
            background: url('../images/folio-imgs/mybanner.jpg') no-repeat center;
            background-size: cover;

            @include breakpoint(laptop){
                background-size: 100%;
            }
        }
    }
}
//about me page styles//
.project .aboutMe {
    h4 {
        color: $red;
        font-family: $unica;
        text-transform: uppercase;
        font-weight: lighter;
        font-size: 1.2em;
        letter-spacing: 2px;
        margin: 48px 0 6px;
        text-align: center;
    }

    strong {
        font-weight: $bold;
    }

    .project-content #section-2 {
        img {
            display: block;
            max-width: 100%;
            margin-top: 12px;
            border-radius: 4px;
            margin: 0 auto;
            padding: 2em 0;

            &.full-width {
                max-width: 100%;
            }
            @include breakpoint(phone-lg) {
                max-width: 80%;
            }
        }

        .gallery-icon {
            height: 350px;
            text-align: center;

            a:after, a:hover:after{
                background-color: transparent;
            }

            svg {
                height: 100%;
                width: auto;
                transition: 0.5s all ease-in-out;

                @for $i from 1 through 7 {
                    #p#{$i}{
                        opacity: 0.8;
                        transition: 0.3s all ease-in-out;
                        transition-delay: $i * 0.05s;

                        @include breakpoint(tablet){
                            opacity: 0;
                        }
                    }
                }

                &:hover{
                    transform: scale(1.03);
                    #p1,#p2,#p3,#p4,#p5,#p6,#p7{
                        opacity: 1;
                    }

                }
            }
        }
    }
}

.footer-about {
    background: transparent;
    padding: 0;
    margin: 48px 0 24px;

    .container {
        .email a {
            color: $black;
            opacity: 1;
            transition: 0.1s all ease-in-out;

            &:after {
                background-color: transparent;
            }

            &:hover {
                color: $brand-pink;
            }
        }

        h4 {
            padding: 2em 0;
            color: $red;
            font-family: $unica;
            text-transform: uppercase;
            font-weight: lighter;
            font-size: 1.2em;
            letter-spacing: 2px;
            margin: 0 0 6px;
            text-align: center;
        }
    }
}
