@charset "UTF-8";

// Vendor Files - Remember to rename these from *.css to *.scss before adding here.
@import "vendor/normalize";

// Your Files Go Here
@import "components/variables";
@import "components/responsive";
@import "components/global";

@import "vendor/bootstrap";
@import "vendor/component";
@import "vendor/lightbox";


/*General*/

.container-fluid {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1032px;
    height: 100%;
}

body {
    padding: 0;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
}

.container #img_me {
    background: url('../images/me.png') center center no-repeat;
    background-size: cover;
    width: 70%;
    height: 800px;
    position: relative;
    margin: 0 auto;
    opacity: 0.85;
}

#identity {
    position: fixed;
    z-index: 120;
    cursor: pointer;
    width: 45px;
    clear: both;
    float: left;
    left: 30px;
    top: 25px;
}

/*Typography*/

h1{
    font-family: 'Unica One', 'Helvetica Neue', sans-serif;
    font-size: 1.2em;
    color: #000;
    text-transform: uppercase;
    text-align: center;
    padding: .8em;
    margin: 10px auto;
}

h2{
  font-family: 'Unica One', 'Helvetica Neue', sans-serif;
    font-size: 1.2em;
    text-transform: uppercase;
    text-align: center;
    padding: .8em;
    margin: 10px auto;
  color: #d88683;
}

#navbar {
    font-family: 'Unica One', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    font-size: 26px;
    color: #000;
    position: fixed;
    margin: 0 auto;
    width: 100%;
    z-index: 100;
}

.desc p {
    color: #333;
    font-size: 22px;
    font-family: 'Lato', 'Helvetica Neue', 'Helvetica', sans serif;
}

#topcontent {
    width: 100%;
    margin: 0 auto;
    position: relative;
    top: 7em;
}

#hello {
    font-family: 'Unica One', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    color: #d88683;
    padding: 10px;
}

#mainbar strong {
    color: #d88683;
}

#mainbar {
    line-height: 1.75em;
    font-family: 'Lato', 'ubuntu', 'Helvetica Neue', 'Helvetica';
    font-size: 18px;
    height: 100%;
    text-align: center;
    color: #ddd;
    top: 10em;
    text-shadow: none;
}

.strong {
    font-weight: bold;
}

#Portfolio {
    position: relative;
    top: 10em;
}

/*Header*/

header nav {
    text-align: center;
    padding: 20px auto;
}

header nav ul {
    margin: 0 auto;
    padding: 5px 10px;
    list-style: none;
    line-height: 100px;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

header #identity {
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.3s ease-in-out;
}

header.shrink #identity .scroldis {
    opacity: 0;
    visibility: hidden;
}

header.shrink #identity .scrolappy {
    opacity: 1;
    visibility: inherit;
}

header #identity .scroldis {
    opacity: 1;
    visibility: inherit;
}

header #identity .scroldis svg.pav_logo{
    height: 100%;
}

header #identity .scroldis svg.pav_logo:hover{
    transform: translateY(0px);
}

header #identity .scrolappy {
    opacity: 0;
    visibility: hidden;
}

header.shrink #identity {
    margin: 10px 0;
    width: 40px;
    left: 30px;
    top: 5px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

header.shrink ul {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    line-height: 60px;
}

header.shrink nav {
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    background: #222;
}

header.shrink nav ul li a {
    color: #ccc;
}

header.shrink nav ul li a:hover {
    color: #d88683;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

header.shrink nav ul li a:before {
    background: none;
}

nav ul li a {
    color: black;
    padding: 20px 10px 10px;
    margin: 0 70px;
    position: relative;
    color: #000;
}

nav ul li a:hover {
    color: #000;
    text-decoration: none;
}

nav ul li a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

nav ul li a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

nav ul li a:link, nav ul li a:visited {
    color: #000;
    text-decoration: none;
}

#Portfolio #grid{
  margin: 0 auto;
  padding: 2em 0;
  max-width: 65%;
}

#Portfolio #grid li{
  padding: 1em;
  width: 50%;
}

footer{
  margin: 0 auto;
  height: auto;
  width: auto;
  position: relative;
  top: 15em;
}

.cd-img-replace {
    /* replace text with a background-image */
    display: inline-block;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}


/* No Touch devices */

.cd-nav-trigger {
    display: none;
}

#cd-vertical-nav {
    position: fixed;
    right: 40px;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1;
    vertical-align: middle;
}

#cd-vertical-nav li {
    text-align: right;
    text-decoration: none;
    list-style-type: none;
}

#cd-vertical-nav a {
    display: inline-block;
    /* prevent weird movements on hover when you use a CSS3 transformation - webkit browsers */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

#cd-vertical-nav a:after {
    content: "";
    display: table;
    clear: both;
}

#cd-vertical-nav a span {
    float: right;
    display: inline-block;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
    transform: scale(0.6);
}

#cd-vertical-nav a:hover span {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

#cd-vertical-nav a:hover .cd-label {
    opacity: 1;
}

#cd-vertical-nav a.is-selected .cd-dot {
    background-color: #d88683;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);

}

#cd-vertical-nav .cd-dot {
  position: relative;
  /* we set a top value in order to align the dot with the label. If you change label's font, you may need to change this top value*/
  top: 24px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #CCC;
  -webkit-transition: -webkit-transform 0.2s, background-color 0.5s;
  -moz-transition: -moz-transform 0.2s, background-color 0.5s;
  transition: transform 0.2s, background-color 0.5s;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

#cd-vertical-nav .cd-label {
    position: relative;
    margin-right: 10px;
    padding: 1.5em .5em;
    color: #aaa;
    font-size: 14px;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s;
    opacity: 0;
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    -o-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
}


/* Touch devices */

.touch .cd-nav-trigger {
    display: block;
    z-index: 2;
    position: fixed;
    bottom: 30px;
    right: 5%;
    height: 44px;
    width: 44px;
    border-radius: 0.25em;
    background: rgba(255, 255, 255, 0.9);
}

.touch .cd-nav-trigger span {
    position: absolute;
    height: 4px;
    width: 4px;
    background-color: #3e3947;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.touch .cd-nav-trigger span::before, .touch .cd-nav-trigger span::after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    background-color: inherit;
    border-radius: inherit;
}

.touch .cd-nav-trigger span::before {
    top: -9px;
}

.touch .cd-nav-trigger span::after {
    bottom: -9px;
}

.touch #cd-vertical-nav {
    position: fixed;
    z-index: 1;
    right: 5%;
    bottom: 30px;
    width: 90%;
    max-width: 400px;
    max-height: 90%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    -webkit-transform-origin: right bottom;
    -moz-transform-origin: right bottom;
    -ms-transform-origin: right bottom;
    -o-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    border-radius: 0.25em;
    background-color: rgba(255, 255, 255, 0.9);
}

.touch #cd-vertical-nav a {
    display: block;
    padding: 1em;
    border-bottom: 1px solid rgba(62, 57, 71, 0.1);
}

.touch #cd-vertical-nav a span:first-child {
    display: none;
}

.touch #cd-vertical-nav a.is-selected span:last-child {
    color: #d88683;
}

.touch #cd-vertical-nav.open {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.touch #cd-vertical-nav.open+.cd-nav-trigger {
    background-color: transparent;
}

.touch #cd-vertical-nav.open+.cd-nav-trigger span {
    background-color: rgba(62, 57, 71, 0);
}

.touch #cd-vertical-nav.open+.cd-nav-trigger span::before, .touch #cd-vertical-nav.open+.cd-nav-trigger span::after {
    background-color: #3e3947;
    height: 3px;
    width: 20px;
    border-radius: 0;
    left: -8px;
}

.touch #cd-vertical-nav.open+.cd-nav-trigger span::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 1px;
}

.touch #cd-vertical-nav.open+.cd-nav-trigger span::after {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    bottom: 0;
}

.touch #cd-vertical-nav li:last-child a {
    border-bottom: none;
}

@media only screen and (min-width: 768px) {
    .touch .cd-nav-trigger, .touch #cd-vertical-nav {
        bottom: 40px;
    }
}
